<navbar></navbar>

<div class="container">
    <div class="row video-academy">
        <div class="col-12">
            VIDEO
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="academy-text">Emilia Diaz Academy nace de mucha preparación y estudio, pero actualmente se renueva para dar una nueva imagen a la formación y cuidados de animales de compañía, con un método de enseñanza innovador y técnicas mejoradas.
                Nuestra inquietud por la mejora, nos ha posicionado en el mejor centro formativo de España.</p>
        </div>
    </div>
    <div class="row zone-academy">
        <div class="col-7 col-xs-12">
            IMAGEN DE LA ZONA
        </div>
        <div class="col-5 col-xs-12">
            NOMBRE Y DESCRIPCION
        </div>
    </div>
    <div class="row">
        <div class="col-5 col-xs-12">
            NOMBRE Y DESCRIPCION
        </div>
        <div class="col-7 col-xs-12">
            IMAGEN DE LA ZONA
        </div>
    </div>
</div>

<footer></footer>
