<navbar></navbar>

<div class="container">
    <div class="row video-academy">
        <div class="col-12">
            VIDEO
        </div>
    </div>
    <div class="row zone-academy">
        <div class="col-7 col-xs-12">
            IMAGEN DE LA ZONA
        </div>
        <div class="col-5 col-xs-12">
            NOMBRE Y DESCRIPCION
        </div>
    </div>
    <div class="row">
        <div class="col-5 col-xs-12">
            NOMBRE Y DESCRIPCION
        </div>
        <div class="col-7 col-xs-12">
            IMAGEN DE LA ZONA
        </div>
    </div>
</div>

<footer></footer>
