<navbar></navbar>

<div class="container">
    <div class="row video-academy">
        <div class="col-12">
            VIDEO
        </div>
    </div>
    <div class="row">
        <div class="col-12 academy-text">
            <p style="font-size: 19px;">Emilia Diaz Academy nace de mucha preparación y estudio, pero actualmente se renueva para dar una nueva imagen a la formación y cuidados de animales de compañía, con un método de enseñanza innovador y técnicas mejoradas.</p>
            <p style="font-weight: 700; font-size: 25px;">Nuestra inquietud por la mejora, nos ha posicionado en el mejor centro formativo de España.</p>
        </div>
    </div>
    <div class="row zone-academy">
        <div class="col-7 col-xs-12">
            IMAGEN DE LA ZONA
        </div>
        <div class="col-5 col-xs-12">
            Recepción y espera de mascotas
Zona independiente y segura, de recepción, entrega y espera de mascotas,  con entrada específica para cumplir el protocolo sanitario y dar más seguridad y exclusividad a nuestros clientes. 
        </div>
    </div>
    <div class="row zone-academy">
        <div class="col-5 col-xs-12">
            Zona húmeda
Zona exclusiva y moderna, con bañeras adaptadas para perros pequeños y grandes, donde se realizaran todos los tratamientos de baño y pre secado. Su diseño está pensado en la ergonomía postural del peluquero, facilitando su trabajo de manera correcta, cumpliendo la normativa de riesgos laborales y bienestar animal.
        </div>
        <div class="col-7 col-xs-12">
            IMAGEN DE LA ZONA
        </div>
    </div>
    <div class="row zone-academy">
        <div class="col-7 col-xs-12">
            IMAGEN DE LA ZONA
        </div>
        <div class="col-5 col-xs-12">
            Aula de exposición teórica
            Sala multifuncional, donde se imparte teoría, clases magistrales o se realizan trabajos interactivos grupales o individuales.
        </div>
    </div>
    <div class="row zone-academy">
    <div class="col-5 col-xs-12">
        Zona Seca
        Zona de trabajo predestinada a la finalización del secado y arreglos, que cumple la normativa y el protocolo para la prevención sanitaria.
        Es una zona moderna, con material de última generación, donde desarrollaremos todos los tipos de arreglos establecidos, con mesas de trabajo eléctricas que nos ayudarán a estar en una óptima posición corporal en el desarrollo de nuestra actividad. 
    </div>
    <div class="col-7 col-xs-12">
        IMAGEN DE LA ZONA
    </div>
</div>
<map-contact></map-contact>
</div>

<footer></footer>
