.video-academy{
    height: 300px;
}

.zone-academy{
    margin-top: 0px;
}

.grey {
    background-color: #EFEFEFEF;
}

.academy-text{
    text-align: center;
    margin-bottom: 30px;
}

.iframe {
    margin-top: 90px;
    height: 690px; 
    width: -webkit-fill-available;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: -99;
}

.img-people {
    width: 400px;
    float: right;
}

.container-background {
    background-color: white;
    z-index: 99;
    margin-top: 700px;
}

.texts {
    text-align: center;
    display: block;
    margin: auto;
    img {
        margin-bottom: 10px;
    }
}