<navbar></navbar>
<div class="container">
    <div class="row separator" style="margin-top: 60px;" data-aos="fade-up" data-aos-duration="4000">
        <div class="col-xs-12 intro-text">
            <p>
                En Emilia Díaz Peluquería canina, nuestra prioridad es cuidar de tu querida mascota, ofreciendo un servicio diferenciado y exclusivo con los mejores productos, orientados a sus necesidades, proporcionándole una experiencia relajante y sin estrés, aportando higiene, belleza y salud, siempre con procedimientos seguros e higiénicos.
            </p>
            <p>
                Es importante destacar que nuestros servicios de baño y de arreglos están realizados por profesionales, utilizando la mejor cosmética profesional del mercado y los mejores materiales para el servicio de tu mascota. 
            </p>
        </div>
    </div>

    <div class="row separator" data-aos="fade-left" data-aos-duration="4000">
        <div class="col-xs-12">
            <p class="secondary-title">Baños</p>
        </div>
        
            <div class="col-xs-12 col-sm-7">
                <img src="/assets/images/bano-servicio.jpg" alt="" srcset="">
            </div>
            <div class="col-xs-12 col-sm-5">
                <p>Todas las líneas de cosmética utilizada en nuestros diferentes tipos de baños, son profesionales y formuladas con principios activos de grado cosmético y agua purificada mediante deionización y lámparas ultravioleta.</p>
                <ul>
                    <li>Estandar</li>
                </ul>
                <p>Es un baño de limpieza y mantenimiento de hidratación capilar, además de limpieza específica de ojos, mucosas y pliegues.</p>
                <ul>
                    <li>Específico</li>
                </ul>
                <p>Ofrecemos baños de limpieza con champú específico según el tipo de manto, además proporcionaremos el tratamiento de hidratación o reestructuración que tu mascota necesitas según el estado de su pelo.</p>
                <ul>
                    <li>Terapéuticos</li>
                </ul>
                <p>Ofrecemos baños con productos dermacosméticos que nos ayudará a proporcionar equilibrio, mantenimiento, restauración y prevención de enfermedades en la piel de su mascota. </p>
            </div>
        
    </div>

    <div class="row separator grey" data-aos="fade-right" data-aos-duration="4000">
        <p class="secondary-title">Arreglo Higiénico</p>
        <div class="col-xs-12 col-sm-7">
            <p class="left">Es un conjunto de acciones que se realizan pensadas en el bienestar animal, con el fin de que el servicio realizado, dure más tiempo en condiciones óptimas.</p>
        </div>
        <div class="col-xs-12 col-sm-5">
            <img src="/assets/images/higienico.jpg" alt="" srcset="">
        </div>
    </div>

    <div class="row separator" data-aos="fade-left" data-aos-duration="4000">
        <p class="secondary-title">Tratamiento Spa</p>
        <div class="col-xs-12 col-sm-5">
            <img src="/assets/images/spa.jpg" alt="" srcset="" style="width: 250px;">
        </div>
        <div class="col-xs-12 col-sm-7">
            <p>Tratamiento diferenciado para tu mascota. Es un nuevo concepto de servicio que despierta y resalta los sentidos, con una percepción refinada y llena de sensaciones, aportando nutrición profunda al manto y la piel, mejorando la flexibilidad del capilar, color y textura.</p>
        </div>
    </div>

    <div class="row separator grey" data-aos="fade-right" data-aos-duration="4000">
        <p class="secondary-title">Arreglos con técnica de tijera</p>
        <div class="col-xs-12 col-sm-7">
            <p class="left">Técnica muy versátil que podemos utilizar para arreglos de diferentes tipos de mantos, como, rizados, ondulados o lisos. Ofrecemos arreglos de finalización, básicos, adaptados o estandarizados, valorando las necesidades, mantenimiento y actividad de tu mascota.</p>
        </div>
        <div class="col-xs-12 col-sm-5">
            <img src="/assets/images/tijera.jpg" alt="" srcset="">
        </div>
    </div>

    <div class="row separator" data-aos="fade-left" data-aos-duration="4000">
        <p class="secondary-title">Arreglos con técnica de máquina</p>
        <div class="col-xs-12 col-sm-5">
            <img src="/assets/images/maquina.jpg" alt="" srcset="">
        </div>
        <div class="col-xs-12 col-sm-7">
            <p>Te ofreceremos el mejor arreglo que se adapte a tu mascota, ya sea un corte básico, adaptado o estandarizado, siempre pensando en el bienestar y en la salud de la piel y el pelo, proporcionando un arreglo práctico y elegante según sus necesidades.</p>
        </div>
    </div>

    <div class="row separator grey" data-aos="fade-right" data-aos-duration="4000">
        <p class="secondary-title">Arreglos con técnica de renovación de manto</p>
        <div class="col-xs-12 col-sm-7">
            <p class="left">Técnica que ofrecemos para que el manto y la piel estén en óptimas condiciones. Aconsejamos a nuestros clientes si se tienen que renovar el pelo primario o secundario de sus mascotas, para ellos nos basaremos en el estudio de su manto y sus condiciones en ese momento, utilizando el material adecuado pensando siempre en su bienestar y salud. </p>
        </div>
        <div class="col-xs-12 col-sm-5">
            <img src="/assets/images/manto.jpg" alt="" srcset="">
        </div>
    </div>
    
    <map-contact></map-contact>
</div>
<footer></footer>
