
<navbar></navbar>

<div class="container" style="margin-top: 60px;margin-bottom: 60px;">
<div class="h4">Política de venta y reembolso</div>

<div class="row">
<h5><strong>1. Envíos y formas de pago.</strong></h5>

<h6>1.1. Los plazos de entrega varían según el tipo de envío.</h6>
<p>Entre 48h y 72h en días laborales para envíos a península. En el caso de las Islas Canarias y Baleares, Ceuta y Melilla, puede ser un poco más de 48h a 72h en días laborales.</p>
<h6>1.2. Todos los precios incluye IVA.</h6>
<p>Los precios de los productos son precios CON IVA. En el momento de formalizar el pedido se le indicará el IVA correspondiente.</p>
<h6>1.3. Envíos en España península.</h6>
<p>Envío gratis para pedidos superiores a 50€ (IVA incluido).</p>
<p>Pedidos inferiores a 50<span>€ (IVA incluido)</span>, el importe del envío es de 7<span>€ (IVA incluido).</span></p>
<h6>1.4. Envíos en Islas Canarias y Baleares, Ceuta y Melilla.</h6>
<p>Para poder realizar pedidos fuera de península, se tiene que enviar un mail a shop@emiliadiaz.com con las referencias deseadas.</p>
<p>Envío gratis a Baleares para pedidos superiores a <span>145</span><span>€ (IVA incluido)</span>.<br>A Baleares, los pedidos inferiores a <span>145</span><span>€ (IVA incluido)</span>, el importe del envío es de 12<span>€ (IVA incluido).</span></p>
<p>Para envíos a Canarias, Ceuta y Melilla deben ponerse en contacto con nuestro departamento de atención al cliente indicando el pedido que desean realizar para que podamos calcular los gastos de envío.</p>
<h6>1.5. Formas de pago.</h6>
<p>Su compra podrá pagarla con PayPal y las tarjetas Visa y Master Card a través del mismo portal de PayPal.</p>
<p>Las transacciones con tarjeta de crédito en www.emiliadiaz.com son completamente seguras.</p>
<p>Los datos de su tarjeta de crédito son tratados única y exclusivamente en un servidor seguro de nuestro banco, y en ningún momento, www.emiliadiaz.com tiene acceso a los datos de su tarjeta de crédito que viajan por la red encriptados y con total seguridad.</p>
<p>Si usted lo prefiere, puede pagar contra reembolso, la comisión que se carga es de un 4%, con un mínimo de 3€.</p>
<p> </p>
<h5><strong>2. Devoluciones.</strong></h5>

<h6>2.1 Derecho de desistimiento</h6>
<p>Usted tiene derecho a desistir del presente contrato en un plazo máximo de 14 días naturales sin necesidad de justificación.</p>
<p>El plazo de desistimiento expirará a los 14 días naturales a contar desde el día que usted o un tercero por usted indicado, distinto del transportista, adquirió la posesión material de los bienes.</p>
<p>Para ejercer el derecho de desistimiento, deberá usted notificar a<span> EMILIA DIAZ JIMENEZ,</span> Plaça Miquel de Palol 1, local - 17005 Girona (Girona, España), su decisión de desistir del contrato a través de una declaración inequívoca que lo manifieste, (por ejemplo, una carta enviada por correo postal). Igualmente, puede informarnos de su derecho a desistir del presente contrato a través del correo electrónico<span> </span><em>shop@emiliadiaz.com</em>.</p>
<p>Podrá utilizar el modelo de formulario de desistimiento que figura a continuación, aunque su uso no es obligatorio.</p>
<p>Para cumplir el plazo de desistimiento, basta con que la comunicación relativa al ejercicio por su parte de este derecho sea enviada antes de que venza el plazo correspondiente.</p>
<p><strong>Modelo de formulario de desistimiento</strong></p>
<p>- A la atención de:</p>
<p><strong>EMILIA DIAZ JIMENEZ</strong></p>
<p><strong>Plaça Miquel de Palol 1, local - 17005 Girona (Girona, España)</strong></p>
<p><span style="text-decoration: underline;"><em><span style="color: #000000; text-decoration: underline;"><a href="mailto:web@artero.com" style="color: #000000; text-decoration: underline;">shop@emiliadiaz.com</a></span></em></span></p>
<p>Por la presente le comunico que desisto de mi contrato de venta del siguiente bien/prestación y con el número de referencia (*)</p>
<p>- Pedido realizado el (*) /recibido el (*)</p>
<p>- Nombre del consumidor y usuario o de los consumidores y usuarios</p>
<p>- Domicilio del consumidor y usuario o de los consumidores y usuarios</p>
<p>- Firma del consumidor y usuario o de los consumidores y usuarios</p>
<p>- Fecha y lugar</p>
<p>(*) Táchese lo que no proceda.</p>
<p><strong>Consecuencias del desistimiento</strong></p>
<p>En caso de desistimiento por su parte, le devolveremos todos los pagos recibidos por usted, incluidos los gastos de envío de su pedido.</p>
<p>El plazo para que le hagamos esta devolución será, como máximo, de 14 días naturales a partir de la fecha en la que se nos informe de su decisión de desistir del presente contrato.</p>
<p>Procederemos a efectuar dicho reembolso utilizando el mismo medio de pago empleado por usted para la compra inicial, a no ser que haya usted dispuesto expresamente lo contrario; en todo caso, no incurrirá en ningún gasto como consecuencia del reembolso.</p>
<p>Podremos retener el reembolso hasta haber recibido los bienes o hasta que usted haya presentado una prueba de la devolución de los mismos, según qué condición se cumpla primero.</p>
<p>Deberá usted devolvernos o entregarnos directamente los productos a:</p>
<p><strong>EMILIA DIAZ JIMENEZ</strong></p>
<p><strong>Plaça Miquel de Palol 1, local - 17005 Girona (Girona, España)</strong></p>
<p>En este caso deberá usted asumir el coste directo de devolución de los productos.</p>
<p>Igualmente puede usted ejercer el derecho de desistimiento dirigiéndose a nuestra tienda física (<span>EMILIA DIAZ JIMENEZ</span>) en cuyo caso el ejercicio del derecho de desistimiento no generará ningún tipo de gasto para usted.</p>
<p>Solo será usted responsable de la disminución de valor de los productos, desde que los recibe hasta que nos informa del desistimiento, resultante de una manipulación distinta a la necesaria para establecer la naturaleza, las características y el funcionamiento de los productos.</p>
<p>El derecho de desistimiento no será aplicable a los contratos que se refieran al suministro de bienes precintados que no sean aptos para ser devueltos por razones de protección de la salud o de higiene y que hayan sido desprecintados tras la entrega.<br><br></p>
<p><strong>2.2 Cambios y devoluciones</strong></p>
<p>Las siguientes condiciones relacionadas con los cambios y devoluciones de nuestros productos no se aplican en el caso de ejercicio del derecho de desistimiento. Si por cualquier motivo no queda satisfecho con su pedido, dispone de un plazo de 15 días a contar desde la fecha de entrega del producto para proceder a su cambio o devolución.</p>
<p>Se tomará como referencia para contar el plazo de 15 días la fecha que conste en el albarán de entrega.</p>
<p>Para cualquier cambio o devolución, el producto no debe haber sido usado y debe ser devuelto en perfectas condiciones e incluyendo etiquetas e instrucciones y garantías (si las hubiere).</p>
<p>Aparte de ello, deberá rellenar el albarán de devolución (reverso del albarán de entrega) que se le remitió junto con su pedido.</p>
<p>Libros y dvd’s no admiten devolución una vez desprecintados salvo defecto o deterioro que se realiza el cambio por el mismo artículo.</p>
<p>Tijeras o cualquier producto con grabado láser no admite cambios ni devoluciones a excepción de que el material haya llegado en mal estado, en tal caso se cambiará por el mismo modelo y misma grabación manteniendo el estilo.</p>
<p>La devolución de los importes se realizará en un plazo máximo de 15 días desde el momento en que se realice la devolución del pedido y en el mismo medio de pago con el que se abonó la compra.</p>
<p>Si realizó el pago de su pedido a través de su cuenta de cliente de PayPal y realiza la devolución e<span style="color: #000000;">n nuestra tienda física, deberá aportar cualquier tarjeta bancaria de la que sea titular para que le podamos ingresar el importe de la devolución.</span></p>
<p><strong>Fuera de garantía de devolución:<br></strong>- Por razones higiénicas, no podrán devolverse los artículos de baño, higiene, si estos han sido sacados de su embalaje original.<br>- Si el producto, una vez entregado sufre deterioro provocado por hechos externos, accidentes o incumplimiento de las instrucciones de uso.<br>- Si el producto resulta dañado por instalación o configuración incorrecta de los accesorios por parte del cliente.<br>- En el caso de que las condiciones generales del fabricante así lo indicasen.<br>- Si el producto no está en perfecto estado y con todo el contenido original.<br>- Si el embalaje no se ha protegido de forma de que lo recibamos en perfectas condiciones.<br>- Si se trata de un producto fabricado a medida o personalizado.<br><br></p>
<p><strong>2.3 Responsabilidad y garantías en nuestros productos</strong></p>
<p>La garantía legal de todos nuestros productos es la que viene definida en la ley, y sus términos serán siempre respetados por<span> </span><strong>EMILIA DIAZ JIMENEZ</strong>.</p>
<p>Ahora bien, en el supuesto de que el objeto en garantía efectivamente no reúna las condiciones Óptimas para ser utilizado, <b>EMILIA DIAZ JIMENEZ</b> asumirá la responsabilidad correspondiente frente al cliente de manera que procederemos a la devolución de los importes abonados por ese producto así como a reintegrar los gastos que el cliente haya tenido que abonar para adquirir el producto. Por lo tanto, si el artículo tiene una tara o defecto o ha habido algún error en el envío, el cliente puede hacer la devolución del mismo en cualquiera de nuestras tiendas o bien remitirlo a nuestro almacén. Una vez comprobado el defecto, le rembolsaremos el valor íntegro del importe pagado, incluyendo gastos de envío y de devolución y, en su caso, el importe que haya abonado por el envoltorio regalo.</p>
<p>Si el presente artículo es destinado a un uso industrial, no le será de aplicación la Ley de Garantía en la Venta de Bienes de Consumo, si no el Código Civil por el que se establece, que la reparación de los defectos ocultos quedará limitado a un periodo máximo de seis meses desde la fecha de adquisición, a éste periodo EMILIA DIAZ JIMENEZ amplía la limitación a seis meses más, siendo el periodo total de saneamiento de los defectos ocultos de doce meses, desde la fecha de adquisición.</p>
<p>Sólo le devolveremos el importe de los gastos de devolución cuando:<br>1) El artículo esté defectuoso.<br>2) Se haya producido un error en el envío.<br>3) El artículo no se corresponda con la foto de la web.<br>4) El pedido le haya llegado fuera de los plazos previstos en nuestras Condiciones Generales de Compra.<br>5) El bulto se haya dañado durante el transporte.</p>
</div>

</div>



<footer></footer>