.background-black {
    background-color: black;
    padding: 5%;
    padding-bottom: 1px;
    padding-top: 20px;
}

a {
    color: white;
}

p {
    color: white;
}
.padding-icons {
    color: pink;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px !important;
}