
  <div class="row sponsors-main">
    <img src="/assets/images/partner_image_3.png" alt="hydra" style="display: block; width: 200px;">
    <img src="/assets/images/partner_image_4.png" alt="pet-society" style="display: block; width: 200px;">
  </div>
  <div class="row contact-main">
    <div class="col-6 col-xs-12">
      <img src="/assets/images/maps-3.png" alt="mapa" style="display: block;margin: auto; width: 570px;"><p style="color: black;">Plaça Miquel de Palol 1, 17005, Girona (España)</p>
    </div>
    <div class="col-6 col-xs-12">
      <input type="text" placeholder="Nombre completo">
      <input type="text" placeholder="Número de teléfono">
      <input type="text" placeholder="email">
      <input type="text" placeholder="Asunto">
      <input type="button" value="Envíar">
    </div>
  </div>

      <div class="row background-black" style="font-size: smaller;text-align: center;">
        <div class="col-2 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/legal-notice">Aviso legal</a></u></p>
        </div>
        <div class="col-2 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/privacy-policy">Política de privacidad</a></u></p>
        </div>
        <div class="col-2 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/cookies-policy">Política de cookies</a></u></p>
        </div>
        <div class="col-3 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/terms-of-use">Condiciones legales y uso</a></u></p>
        </div>
        <div class="col-3 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/sale-and-refund-policy">Política de venta y reembolso</a></u></p>
        </div>
      </div>
      <div class="row background-black" style="font-size: smaller;text-align: center;">
        <div class="col-12"><a href="https://www.facebook.com/emiliadiazacademy" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square padding-icons"></i></a> <a href="https://www.instagram.com/emiliadiazacademy/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram-square padding-icons"></i></a> <a href="https://emiliadiaz.com/blogs/news.atom" target="_blank" rel="noopener noreferrer"><i class="fas fa-rss-square padding-icons"></i></a></div>
      </div>

      <div class="row background-black" style="font-size: smaller;text-align: center;" >
        
        <div class="col-12">
          <p style="margin-bottom: 0;margin-top: 15px;">Copyright © 2021 Emilia Diaz. All Rights Reserved.</p>
          <p style="font-size: 10px !important;">Desarrollado por <a href="https://www.linkedin.com/in/myoungmediero/" target="_blank">Michael Young</a></p>
        </div>  
      </div>




