<div class="contianer">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-4 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/legal-notice">Aviso legal</a></u></p>
        </div>
        <div class="col-4 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/privacy-policy">Política de privacidad</a></u></p>
        </div>
        <div class="col-4 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/cookies-policy">Política de cookies</a></u></p>
        </div>
        <div class="col-4 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/terms-of-use">Condiciones legales y uso</a></u></p>
        </div>
        <div class="col-4 col-xs-12">
          <p style="cursor: pointer;"><u><a href="/sale-and-refund-policy">Política de venta y reembolso</a></u></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row" style="text-align: end;">
        <div class="col-12">facebook, instagram y feed</div>
        <div class="col-12">
          <p>Copyright © 2021 Emilia Diaz. All Rights Reserved.</p>
          <p>Desarrollado por <a href="https://www.linkedin.com/in/myoungmediero/" target="_blank">Michael Young</a></p>
        </div>  
      </div>

    </div>
  </div>
</div>
