.show {
    display: block;
}

.clickable {
    cursor: pointer;
}

.full-width {
    width: 100% !important;
}

.lateral-paddings {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.bg-light {
    background-color: transparent !important;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,247,247,0.6558998599439776) 0%, rgba(240,240,240,1) 100%);
}

nav {
    height: 85px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgba(153,153,255,1);
}

.active {
    border-bottom: 3px solid #cc00cc;
}