<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="font-size: 21px; align-items: center; text-transform: uppercase;">
        <a class="nav-link lateral-paddings" aria-current="page" href="/biography" >Emilia Díaz</a>
        <div class="nav-item dropdown" (mouseover)="mouseOverOut2(true)" (mouseout)="mouseOverOut2(false)">
          <a class="nav-link dropdown-toggle clickable lateral-paddings" href="/academy" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Academia
          </a>
          <div [class.show]="dropOpen == true" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/academy">Academia</a>
            <a class="dropdown-item" href="/iga">IGA</a>
          </div>
        </div>
        <a class="navbar-brand lateral-paddings" href="/" >
          <img src="/assets/images/ed_logo.png" alt="" width="60" height="55" class="d-inline-block align-text-top">
        </a>
        <div (mouseover)="mouseOverOut(true)" (mouseout)="mouseOverOut(false)" class="nav-item dropdown cursos">
          <a class="nav-link dropdown-toggle clickable lateral-paddings" href="/courses" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cursos
          </a>
          <div [class.show]="dropCourse == true" class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
            <a class="dropdown-item" href="/courses/superior-technician">Técnico Superior</a>
            <a class="dropdown-item" href="/courses/advanced-technician">Técnico Avanzado</a>
            <a class="dropdown-item" href="/courses/technical-specialization">Especialización Tecnica</a>
          </div>
        </div>
        <a class="nav-link lateral-paddings" href="/services" >Servicios</a>
        <!-- <a class="nav-link lateral-paddings" href="/contact">Contacto</a> -->
      </div>
    </div>
  </div>
</nav>


