.main-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    // text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.intro-text {
    p {
       text-align: center; 
    }
}

.intro-sub-text {
    text-align: center;
    // font-style: oblique;
    margin-bottom: 35px;
    font-size: 22px;
    color: #C00042;
}

.secondary-title {
    font-size: 21px;
    text-transform: uppercase;
    // text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}

.course-title {
    font-weight: bold;
}

.text-chevron {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.program-title {
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}


.icon {
    font-size: 50px;
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.pink-background {
    background-color: #ffccff;
    padding-left: 5px;
}

.background-img {
    background-image: url('/assets/images/razas.jpg');
  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iframe {
    margin-top: 90px;
    height: 690px; 
    width: -webkit-fill-available;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: -99;
}

.container-background {
    background-color: white;
    z-index: 99;
    margin-top: 700px;
}