<div class="container-fluid">
<div class="row sponsors-main" style="padding-top: 60px;background-color: white;">
    
    <div class="col-xs-12">
        <div>
            <p style="text-align: center;">PARTNERS</p> <hr style="width: 80%;margin: auto;">
        </div>
        <div class="sponsors-flex">
            <a href="https://petsociety.es/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/partner_image_3.png" alt="hydra" style="display: block; width: 200px;">
            </a>

            <a href="https://www.instagram.com/afiladosxicu/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/afilados.png" alt="pet-society" style="display: block; width: 200px;filter: grayscale(100%);">
            </a>
    
            <a href="https://petsociety.com.br/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/partner_image_4.png" alt="pet-society" style="display: block; width: 200px;">
            </a>
            
        </div>
    </div>
</div>
<div class="row grey">
    <div class="col-xs-12 col-sm-1"></div>
    <div class="col-xs-12 col-sm-3">
        <a href="https://www.google.com/maps/place/Emilia+D%C3%ADaz+Canine+Grooming+Academy/@41.981878,2.813176,17z/data=!3m2!4b1!5s0x12bae721ad2fa355:0xb3b5c74997ea65cb!4m5!3m4!1s0x12bae721aaaa4ae7:0x2e6d72c27b246f70!8m2!3d41.981878!4d2.8153647" target="_blank" rel="noopener noreferrer"><img src="/assets/images/maps-3.png" alt="mapa" style="display: block;margin: auto; border: 1px solid black;" class="img-fluid"></a> 
    </div>
    <div class="col-xs-12 col-sm-2">
        
        <div style="display: flex; align-items: baseline;">

            <i style="margin-right: 5px;" class="fa fa-home"></i><p>Plaça Miquel de Palol, 1 17005 Girona (España)</p> 
        </div>
        

        <div style="display: flex; align-items: baseline;">

            <i style="margin-right: 5px;" class="fa fa-phone"></i><p><a href="tel:+34 972 411 296">+34 972 411 296</a></p>
        </div>
        

        <div style="display: flex; align-items: baseline;">

            <i style="margin-right: 5px;" class="fa fa-envelope"></i> <p><a href="mailto:academy@emiliadiaz.com">academy@emiliadiaz.com</a></p>
        </div>
            
          
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="form-row">
            <div class="form-group">
                <!-- <label for="name">Nombre completo</label> -->
                <input style="height: 50px; margin-bottom: 13px;" type="text" class="form-control" id="name" placeholder="Nombre y apellidos">
            </div>
            <div class="form-group">
                <!-- <label for="number">Teléfono</label> -->
                <input style="height: 50px; margin-bottom: 13px;" type="phone" class="form-control" id="number" placeholder="Número de teléfono">
            </div>
            <div class="form-group">
                <!-- <label for="email">Correo electrónico</label> -->
                <input style="height: 50px; margin-bottom: 13px;" type="email" class="form-control" id="email" placeholder="Dirección de correo">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="form-row">     
            <div class="form-group">
                <!-- <label for="stuff">Asunto</label> -->
                <input style="height: 126px; margin-bottom: 10px;" type="text" class="form-control" id="stuff" placeholder="Escribe qué quieres contarnos">
            </div>
        </div>
        <button type="button" class="btn btn-primary button-style">Enviar</button>
    </div>
    <div class="col-xs-12 col-sm-1"></div>
</div>
</div>
