<div class="container-fluid">
<div class="row sponsors-main" style="margin-top: 60px;">
    
    <div class="col-xs-12 col-sm-6">
        <div>
            <p>PARTNERS</p> <hr>
        </div>
        <div class="sponsors-flex">
            <img src="/assets/images/partner_image_3.png" alt="hydra" style="display: block; width: 200px;">
    
    
            <img src="/assets/images/partner_image_4.png" alt="pet-society" style="display: block; width: 200px;">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div>
            <p>REDES SOCIALES</p> <hr>
        </div>
        <div class="sponsors-flex">
            <a href="https://www.facebook.com/emiliadiazacademy" target="_blank" rel="noopener noreferrer">
            
                <img src="/assets/images/siguenos_facebook.jpg" alt="" srcset="" width="200px" height="200px">
            </a>
            <a href="https://www.instagram.com/emiliadiazacademy/" target="_blank" rel="noopener noreferrer">
            
                <img src="/assets/images/instagram.jpg" alt="" srcset="" width="200px" height="200px">
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-1"></div>
    <div class="col-xs-12 col-sm-4">
        <img src="/assets/images/maps-3.png" alt="mapa" style="display: block;margin: auto; width: -webkit-fill-available;">
        <p style="color: black;margin-top: 5px;">Plaça Miquel de Palol 1, 17005, Girona (España)</p>
    </div>
    
    <div class="col-xs-12 col-sm-3">
        <div class="form-row">
            <div class="form-group">
                <!-- <label for="name">Nombre completo</label> -->
                <input style="height: 50px; margin-bottom: 13px;" type="text" class="form-control" id="name" placeholder="Nombre y apellidos">
            </div>
            <div class="form-group">
                <!-- <label for="number">Teléfono</label> -->
                <input style="height: 50px; margin-bottom: 13px;" type="phone" class="form-control" id="number" placeholder="Número de teléfono">
            </div>
            <div class="form-group">
                <!-- <label for="email">Correo electrónico</label> -->
                <input style="height: 50px; margin-bottom: 13px;" type="email" class="form-control" id="email" placeholder="Dirección de correo">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="form-row">     
            <div class="form-group">
                <!-- <label for="stuff">Asunto</label> -->
                <input style="height: 180px; margin-bottom: 10px;" type="text" class="form-control" id="stuff" placeholder="Escribe en que estas interesado o sobre qué quieres información">
            </div>
        </div>
        <button type="button" class="btn btn-primary">Enviar</button>
    </div>
    <div class="col-xs-12 col-sm-1"></div>
</div>
</div>
