.sponsors-main {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}


input {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkgray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.sponsors-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img:hover {
        opacity: 0.5;
    }
}

a {
    color: #C00042;
}

.button-style {
    display: block;
    margin: auto;
    width: 50%;
    color: white;
    background: #C00042;
    border-color: white;
}

.grey {
    background-color: #EFEFEF;
    padding-top: 20px;
    padding-bottom: 20px;
}