<div class="row sponsors-main">
    <img src="/assets/images/partner_image_3.png" alt="hydra" style="display: block; width: 200px;">
    <img src="/assets/images/partner_image_4.png" alt="pet-society" style="display: block; width: 200px;">
</div>
<div class="row contact-main">
    <div class="col-12 col-md-6">
      <img src="/assets/images/maps-3.png" alt="mapa" style="display: block;margin: auto; width: -webkit-fill-available;">
      <p style="color: black;margin-top: 5px;">Plaça Miquel de Palol 1, 17005, Girona (España)</p>
    </div>
    <div class="col-12 col-md-6">
        <form>
            <div class="form-row" style="display:flex;">
                <div class="form-group col-6">
                    <label for="name">Nombre completo</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre Apellidos">
                </div>
                <div class="form-group col-6">
                    <label for="number">Teléfono</label>
                    <input type="phone" class="form-control" id="number" placeholder="+34 666777888">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@dominio.com">
                </div>
                <div class="form-group">
                    <label for="stuff">Asunto</label>
                    <input style="height: 100px; margin-bottom: 10px;" type="text" class="form-control" id="stuff" placeholder="Escribe en que estas interesado o sobre qué quieres información">
                </div>
            </div>
            <button type="button" class="btn btn-primary">Enviar</button>
        </form>        
    </div>
</div>
