<navbar></navbar>

<div class="container">
    <div class="row intro-bio">
        <div class="col-4 col-xs-12">
            <img src="" alt="imagen-ed" srcset="">
        </div>
        <div class="col-8 col-xs-12">
            <h5>Los Inicios…</h5>
            <p>Desde pequeña resido en Santa Coloma de Gramanet (Barcelona) y me formo en el ámbito deportivo, dedicándome al deporte y a mejorar la salud de las personas, trabajando para el Ayuntamiento de la localidad, impartiendo clase polideportivas en sus instalaciones municipales, aunque mi deporte predilecto es el atletismo, que me ha ayudado enormemente a adquirir valores personales como constancia, sacrificio, trabajo, compañerismo, ética o dedicación, los cuales han sido vitales para su desarrollo personal y profesional.</p>

        </div>
    </div>
    <div class="row sections-bio">
        <div class="col-6 col-xs-12">
            <p class="clickable" (click)="setShowValue('bio')">Biografía</p>
            <p class="clickable" (click)="setShowValue('sema')">Cursos y seminarios Impartidos</p>
            <p class="clickable" (click)="setShowValue('semb')">Cursos y seminarios Realizados</p>
        </div>
        <div class="col-6 col-xs-12">
            <p class="clickable" (click)="setShowValue('comp')">Trayectoría como competidora</p>
            <p class="clickable" (click)="setShowValue('juez')">Trayectoría como jueza</p>
            <p class="clickable" (click)="setShowValue('recon')">Cargos y reconociminetos</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="show == 'bio'">
            

                <h5>1986-1995</h5>
                <p>Me traslado a Girona en 1986 donde adquiero con mi marido Julio Salamanca unos ejemplares de Husky Siberiano con el fin de entrenar para correr con Tiro de Trineo, objetivo “La Pirena” </p>
                <p>Nos gusta tanto la raza que adquirimos nuestro primer ejemplar de Exposición a Rhonda Hayward “Artic Blue Ambassador” un perro bellísimo, que ya en su primer Show queda BIS CACHORROS.</p>
                <p>En 1988 ya tengo mi afijo "MOON WITHE", con el Nº 3973 y reconocido por la F.C.I.</p>
                <p>Es tanta la pasión por la competición, que empezamos a adquirir otras razas para ir a Campeonatos de belleza, adquiriendo Cocker Americano, Kerry Blue Terrier, Irish Soft Coated Wheaten Terrier, Bichón Frisé y Caniche Gigante.</p>
                <p>En un principio mi formación para los arreglos de las razas que exponía, era de forma autodidacta, dedicando muchísimas horas a intentar copiar arreglos que veía. En aquella época nadie invertía tiempo en enseñarte, pero al adquirir una raza determinada tenía el compromiso por el criador/handler, y me daban nociones iniciales de los arreglos, que sabía aprovechar y memorizar.</p>

                <h5></h5>1996-2002
                <p>Mi inquietud por el aprendizaje, formación y la competición, me hace investigar y averiguar constantemente, aunque era muy difícil, ya que no había Internet ni redes sociales, pero aun así logo asistir al primer International Oster Tournament de peluquería en Bruselas en 1996, donde coincido con los más grandes profesionales del momento, que hacen, que todo cambiara en mí y platearme mi futuro: “Quiero ser profesional de la Peluquería Canina”</p>

                <p>A partir de 1997 todo cambia, empiezo a competir en campeonatos de peluquería rápida, muchas son las participaciones para empezar a entender las competiciones, pero con mi perseverancia y constancia, consigo ganar primero respeto como competidora, y más tarde como premiada, ya que llegan los triunfos, medallas, BIS y otros galardones y triunfos, tanto a nivel Nacional como Internacional.</p>
                <p>Conozco a peluqueros con los que tenemos afinidad y más tarde amistad, que ha perdurado en el tiempo, gracias a las vivencias, aprendizajes en común y convivencia. Gracias a ellos logramos organizarnos y crear la Asociación Española de Estilistas Caninos cuyo objetivo principal en este momento es la formación de los peluqueros y más tarde el reconocimiento de la profesión.</p>

                <p>Es en 1997 cuando formalizo el nacimiento de Emilia Diaz Canine Grooming Academy y empiezo a formar peluqueros/as profesionales en Girona.</p>



                <h5>2003-2007</h5>	
                <p>Se crea la European Grooming Association, donde soy miembro fundador del consejo de la EGA.</p>
                <p>Participo en la organización de campeonato del mundo por equipos en Europa, que organizamos en Barcelona, consiguiendo más reconocimiento y prestigio.</p>
                <p>Gracias a toda la dedicación y esfuerzo del Consejo de la EGA, iniciamos un trabajo que ha ido evolucionando hasta la actualidad.</p>

                <h5>2008-2012</h5>
                <p>Primer contacto con el Ministerio de Educación por el reconocimiento de la profesión.</p>

                <h5>2013-2014</h5>
                <p>Gracias a esta proyección diferentes empresas internacionales me hacen imagen de sus empresas, como Oster o Pet Society.</p>

                <p>Año importante donde se me abren las puertas a nivel internacional en el campo de la formación, impartiendo seminarios, clases y conocimientos a más 12000 profesionales de 25 países.</p>
                <p>Gracias a esta proyección diferentes compañías internacionales del sector como Oster o Pet Society, se interesan en hacer de mi la cara visible de sus empresas.</p>

                <h5>2015-2016…</h5>
                <p>Nace International Grooming Academy y los centros asociados de formación. </p>
                <p>Son años que marcarán parte de la historia por mi incorporación Ministerio de Educación por el reconocimiento de la profesión, como Miembro del Comité de Expertos, por el reconocimiento y acreditación de la profesión, en el Instituto Nacional de Cualificaciones.</p>

                <h5>2017-Actualidad</h5>
                <p>A partir del 2017 la formación presencial es el motor de mi profesión, entregar constantemente conocimiento para ayudar al crecimiento de los profesionales. </p>
                <p>Se me nombra Groomer Referente Internacional de la prestigiosa marca de cosmética animal Hydra Profesional, pero es a partir del 2019, cuando empiezo a trabajar en el nuevo proyecto, como Directora Técnica en España de dicha marca.</p>
            
        </div>
        <div class="col-12" *ngIf="show == 'sema'">
            <p><b>1999</b> - Madrid (España). Seminario demostración de peluqueria rápida : Kerry Blue Terrier. </p>

            <p><b>2000</b> - Silleda (España). Seminario demostración de Bichón Frisé y Kerry Blue Terrier. </p>

            <p><b>2001</b> - Vigo (España). Seminario monográfico de Schnauzer Gigante.</p>
            <p><b>2001</b> - Silleda (España). Seminario demostración Cocker Spaniel Americano y Kerry Blue Terrier. </p>
            <p><b>2001</b> - Caldas (España). Seminario monográfico de Schnauzer mediano y miniatura.</p>

            <p><b>2002</b> - Silleda (España). Seminario -Taller de trabajo Scottish- Cocker americano. </p>
            <p><b>2002</b> - Empoli (Italia). Exhibición V festival de peluquería IV Sanbernard "Perros bajo las estrellas" </p>

            <p><b>2003</b> – Santiago de Chile (Chile). Kennel Club de Chile. Profesora del primer curso nacional de peluquería canina.</p>

            <p><b>2008</b> – Girona (España). Seminario de Terranovas , arreglos de exposición.</p>
            <p><b>2008</b> – Barcelona (España). Grooming Art .Seminario monográfico de Kerry Blue Terrier en </p>

            <p><b>2009</b> - Girona (España). Seminario monográfico de Cocker Inglés y Cocker Americano. </p>
            <p><b>2009</b> - Madrid (España). Seminario monográfico de Cocker Americano y Bichón Frisé. </p>

            <p><b>2010</b> - Marbella (España) Seminario monográfico de Cocker Americano y Bichón Frisé. Marbella.</p>
            <p><b>2010</b> - Verbania (Italia). Seminario / Demostración de Cocker Americano. </p>

            <p><b>2011</b> - Polonia. Silesia Grooming Show. Seminario monográfico de Cocker americano. </p>

            <p><b>2012</b> - Verbania (Italia). Mastershow .Seminario monográfico de Cocker americano. </p>
            <p><b>2012</b> - Kiev (Ukrania). Ukrania Master Grooming. Seminario monográfico de Cocker americano.</p>

            <p><b>2013</b> - Santiago de Chile (Chile). Masterclass demostrativo en técnica de tijera y renovación de mantos. Taller de trabajo.correctivo.</p>
            <p><b>2013</b> - Lima (Perú). GroomMasterclass demostrativo en técnica de tijera y renovación de mantos. </p>

            <p><b>2014</b> – Sao Paulo (Brasil). Megagrooming Show. Demostración con Cocker Spaniel y Scottish Terrier.</p>
            <p><b>2014</b> - Campinas (Brasil). Certificación Internacional Escuelas Referentes Pet Society.</p>
            <p><b>2014</b> - Santiago de Chile (Chile). Masterclass demostrativo técnica de máquina, Técnica de tijera y renovación de mantos. </p>
            <p><b>2014</b> - Lima (Perú). Masterclass demostrativo técnica de máquina, Técnica de tijera y renovación de mantos.</p>
            <p><b>2014</b> - Buenos Aires (Argentina). Masterclass demostrativo técnica de máquina, Técnica de tijera y renovación de mantos</p>
            <p><b>2014</b> - Bogotá (Colombia).Masterclass demostrativo técnica de máquina, Técnica de tijera y renovación de mantos.</p>
            <p><b>2014</b> - Chengdu (china). Grooming Certification Contest and Grooming Championship</p>
            <p><b>2015</b> – Sao Paulo (Brasil). Pet South América. Certificación Internacional Escuelas Referentes Pet Society.</p>
            <p><b>2015</b> - Pekin (China). Grooming Show. Demostración técnica.</p>
            <p><b>2015</b> - Recife (Brasil). GroomBrasil. Ponencias técnicas.</p>
            <p><b>2015</b> - Montevideo (Uruguay). Oster Masterclass de peluquería canina.</p>
            <p><b>2015</b> - Montevideo (Uruguay). Taller de trabajo.</p>
            <p><b>2015</b> - México DF (México). LatinZoo. Demostraciones Técnicas </p>
            <p><b>2015</b> - La Paz (Bolivia). Oster Masterclass de peluquería canina</p>
            <p><b>2015</b> - La Paz (Bolivia). Oster Taller de trabajo</p>
            <p><b>2015</b> - Florianópolis (Brasil).Megagrooming Show Sul. Seminario-demostración de Scottish Terrier.</p>
            <p><b>2015</b> - Santiago de Chile (Chile). Clase magistral sobre la profesionalidad del peluquero canino.</p>
            <p><b>2015</b> - Kiev (Ukrania). Infogroom. Morfologia y técnicas de trabajo con demostración con Cocker Americano.</p>

            <p><b>2016</b> - Alajuela (Costa Rica). Mastershow CR. Masterclass demostrativo</p>
            <p><b>2016</b> - Santiago de Chile (Chile) Oster Masterclass. Técnica Hemati.</p>
            <p><b>2016</b> - Buenos Aires (Argentina). Oster Masterclass en grooming profesional.</p>
            <p><b>2016</b> - Bogotá (Colombia).Expopet. Masterclass demostrativo </p>
            <p><b>2016</b> - Tampico (México). Masterclass demostrativo y Taller de trabajo.</p>
            <p><b>2016</b> - La Paz (México). Masterclass demostrativo y Taller de trabajo.</p>
            <p><b>2016</b> - Mexicali (México). Masterclass demostrativo y Taller de trabajo.</p>
            <p><b>2016</b> - México DF (México). Masterclass demostrativo y Taller de trabajo.</p>
            <p><b>2016</b> - Sao Paulo (Brasil). Mastergroom. Congresso Brasileiro De Estetica Animal, demostración con Bichón Frisé</p>
            <p><b>2016</b> - México DF (México). Professional Grooming Program. Ponencias técnicas. Masterclass de peluquería canina.</p>

            <p><b>2017</b> - Sao Paulo (Brasil). Megagrooming Show. Demostración con Kerry Blue Terrier.</p>
            <p><b>2017</b> - Antofagasta (Chile). Demostraciones Técnica en Caniche gigante y Shnauzar miniuatura</p>
            <p><b>2017</b> - Fortaleza (Brasil). Hydra Grooming Show. Demostraciones Técnicas en distintas razas.</p>
            <p><b>2017</b> – Santiago de Chile (Chile). Pichara. Formación /Demostración con implementos.</p>


            <p><b>2018</b> - Alajuela (Costa Rica). Mastershow CR. Masterclass demostrativo</p>
            <p><b>2018</b> - Marbella (España). Cosmetología aplicada</p>
            <p><b>2018</b> - Girona (España). Curso de especialización Internacional.</p>
            <p><b>2018</b> - Las Vegas (USA) Superzoo . Hotel Mandalay Bay Convention Center. Demostración arreglo europeo Kerry Blue Terrier</p>
            <p><b>2018</b> - Bogotá (Colombia).Expopet. Masterclass demostrativo</p>
            <p><b>2018</b> - Bogotá (Colombia). Expopet. Oster Tournamet International Competition</p>
            <p><b>2018</b> - Mexicali (México). Masterclass demostrativo y Taller de trabajo.</p>
            <p><b>2018</b> - Mérida-Yucatán (México). Masterclass demostrativo y Taller de trabajo.</p>

            




            <p><b>2019</b> - Santiago de Chile (Chile). Grooming Fest. Mega evento demostrativo</p>
            <p><b>2019</b> - Sevilla (España). Cosmetología aplicada</p>
            <p><b>2019</b> - Valencia (España). Cosmetología aplicada</p>
            <p><b>2019</b> - Santo Domingo (Ecuador).Ecuagroom. Congreso de peluquería demostrativo con taller de trabajo</p>
            <p><b>2019</b> - Sevilla (España). Grooming Prof. Mega evento demostrativo..</p>
            <p><b>2019</b> - Bogotá (Colombia).Expopet. Masterclass demostrativo</p>
            <p><b>2019</b> - Quito (Ecuador). AERCAN: Seminario Demostrativo de Estilismo Canino </p>
            <p><b>2019</b> - California (USA). Silicon Valley Pet event. Ponencia técnica.</p>
            <p><b>2019</b> - Lisboa (Portugal). Clase magistral de Renovación de mantos y Técnica de tijera.</p>


            <p><b>2020</b> - Fortaleza (Brasil). Hydra Grooming Show. Demostraciones Técnicas en distintas razas.</p>
            <p><b>2020</b> - Sao Paulo (Brasil). Megagrooming Show. Demostración con Schnauzer Miniatura.</p>

        </div>
        <div class="col-12" *ngIf="show == 'semb'">
            <p><b>1998</b> - Barcelona (España). Jornadas multiponencias Artero</p>
            <p><b>1998</b> - Girona (España). Vincent Pastor. El pelo duro. Estándar y arreglo Fox Terrier y West Highland White Terrier</p>

            <p><b>1999</b> - New York (USA) Shirlee Kalstone. Balance y Simetría en los arreglos. Especial Caniche Gigante.</p>
            <p><b>1999</b> - Murcia (España). Cesar Mosquera. Estándar y arreglo del Cocker Spaniel Inglés y Cocker Spaniel Americano.</p>
            <p><b>1999</b> - Madrid (España). Ángel Marqués. Estándar y arreglo del Caniche mediano y Bichón Frisé.</p>
            <p><b>1999</b> - Madrid (España). Enrique de la Morena. Arreglo y mantenimiento Cocker Spaniel Inglés</p>
            <p><b>1999</b> - Marbella (España). Umberto Lehmann. Estandar y arreglo Caniche gigante</p>
            <p><b>1999</b> - Barcelona (España). Jornadas multiponencias Artero</p>


            <p><b>2000</b> - Mallorca (España). Umberto Lehmann.  Estandar y arreglo con las razas Soft Coated Terrier, Caniche gigante y Caniche enano.</p>
            <p><b>2000</b> - Montpelier (Francia). Scott Wasserman. Scottish Terrier, arreglo y estándar</p>
            <p><b>2000</b> - Montpelier (Francia). Jean-Françoise Vanaken. Caniche enano, arreglo y estándar</p>
            <p><b>2000</b> - Montpelier (Francia).  Jean-Georges Leonard (Francia) Cocker Americano, arreglo y estándar</p>
            <p><b>2000</b> - Montpelier (Francia).  Kitty Dekeersgieter. Rendimiento de una peluquería</p>
            <p><b>2000</b> - Montpelier (Francia).  Mijo Klein. Arreglo del Scottish Terrier</p>
            <p><b>2000</b> - Madrid (España). Luis Jerez. Arreglo del Cocker Spaniel Americano y Buvier de Flandes.</p>
            <p><b>2000</b> - Madrid (España). Enrique de la Morena. Arreglo y mantenimiento Soft Coated Terrier.</p>

            <p><b>2001</b> - UTHA (USA). Lynne Carver. Curso de especialización en técnica de tijeras Bichón Frisé y Caniche.</p>
            <p><b>2001</b> - Barcelona (España). Umberto Lehmann. Estándar y arreglo del Terranova</p>
            <p><b>2001</b> - UTHA (USA). Lynne Carver. Curso de especialización en kerry Blue Terrier y Boston Terrier</p>
            <p><b>2001</b> - Madrid (España). Ángel Marqués y Raul López. Seminario de Caniche y Bichón Frisé.</p>
            <p><b>2001</b> - Barcelona (España). Fernando Fernández. Estándar y arreglo del Scottish Terrier</p>
            <p><b>2002</b> - Girona (España). Jesús Pastor.  Estándar y arreglo del West Highland White Terrier</p>
            <p><b>2002</b> - Girona (España). Carlos Puime. Estándar y arreglo del Fox Terrier.</p>

            <p><b>2004</b> - Girona (España). José Luis Moreno. Seminario de Presentación en Ring.</p>
            <p><b>2004</b> - Montpelier (Francia).  Ronny de Munter. Seminario pelo duro</p>

            <p><b>2005</b> - Girona (España). Enric Vilavedra, Seminario de West Highland. </p>

            <p><b>2006</b> - Girona (España).  Ángel Marqués, Seminario de Caniches </p>

            <p><b>2007</b> - Verbania (Italia). Lorena Meratti, Seminario de Aireadle Terrier. Verbania, Italia.</p>

            <p><b>2008</b> - Girona (España). Félix Duque. Seminario de arreglo del Maltés. </p>

            <p><b>2009</b> - Girona (España).  Enrique de la Morena. Arreglo y mantenimiento Cocker Spaniel Inglés</p>
            <p><b>2009</b> - Girona (España).  Enrique de la Morena. Seminario de presentación para exposiciones</p>
            <p><b>2009</b> - Girona (España).  Enrique de la Morena. Seminario de morfología del Caniche</p>

            <p><b>2010</b> - Girona (España).   Juan Carlos Rodríguez. Seminario de kerry blue y Scotish terrier. </p>
            <p><b>2010</b> - Girona (España). Carine Levi. Seminario de mantenimiento Caniche Gigante.</p>
            <p><b>2010</b> - Girona (España). Félix Duque. Seminario de mantenimiento de mantos largos. </p>

            <p><b>2013</b> - Madrid (España).  Enrique de la Morena, Seminario de Caniche.</p>
            <p><b>2013</b> - Barcelona (España). Toshinori Omura, Seminario de Caniche.</p>

            <p><b>2014</b> - Santiago de Chile (Chile) Juan Pio Milano. Seminario de Afgano. S.</p>
            <p><b>2014</b> - Girona (España). Mavis Hao, Seminario de Caniches. </p>
            <p><b>2014</b> – Arenys de Munt (España). Seminario formativo con Máximo Campo.</p>

            <p><b>2016</b> - Girona (España). Anna Bardesheva. Morfología, simetría y equilibrio de las razas Caniche gigante y Bichón Frisé.</p>

            <p><b>2017</b> - Madrid (España). Núria Díaz. Peluquería felina.</p>

            <p><b>2018</b> - Barcelona (España). Michael Zhang. Estilo asiático expresiones.</p>
            <p><b>2018</b> - Barcelona (España). Natalia Tikhonova. Técnicas de arreglo y transformación en el Caniche.</p>

            <p><b>2019</b> - Sevilla (España). Candy Liu. Estilo asiático pelo liso</p>
            <p><b>2019</b> - Sevilla (España). Steven Hong. Estilo asiático pelo rizado.</p>
            <p><b>2019</b> - Sevilla (España). Yulia Marenkova. Organización en el trabajo</p>

            <p><b>2020</b> – Sao Paulo (Brasil). Israel España. Técnicas de arreglo en el Chow Chow.</p>
            <p><b>2020</b> – Sao Paulo (Brasil). Susan Hatch. Técnicas de arreglo Springer Spaniel</p>
            <p><b>2020</b> – Sao Paulo (Brasil). Gabriel Feitosa. Técnicas de arreglo Bichón Frisé</p>
            <p><b>2020</b> – On Line Hydra Internacional. Xisca Martorell. Creatividad estilo asíatico pelo rizado.</p>
        </div>
        <div class="col-12" *ngIf="show == 'comp'">
            <p><b>1997</b> Barcelona (España). Sizoo Campeonato Internacional Medalla de Plata Categoría Show Class.</p>

            <p><b>1998</b> Montpellier (Francia) Ciceaux d´ Or Internacional Medalla de Plata Categoría Tijeras </p>
            <p><b>1998</b> Barcelona (España). Sizoo Campeonato Internacional. Medalla de Oro Categoría Mestizos</p>
            <p><b>1998</b> Barcelona (España). Sizoo Campeonato Internacional Medalla de Oro Categoría Tijeras</p>
            <p><b>1998</b> New York (USA). Intergroom International. Participación.</p>

            <p><b>1999</b> New York (USA). Intergroom International Medalla de Plata Categoría Tijeras </p>
            <p><b>1999</b> Montpellier (Francia) Ciceaux d´ Or Internacional Medalla de Plata Categoría Tijeras </p>
            <p><b>1999</b> Barcelona (España). Sizoo Campeonato Internacional. Medalla de Oro Categoría Mestizos</p>

            <p><b>2000</b> Milán (Italia). Milangroom Internacional. Medalla de Oro Categoría Spaniel</p>
            <p><b>2000</b> New York (USA). Intergroom International Medalla de Plata Categoría Spaniels </p>
            <p><b>2000</b> Montpellier (Francia) Ciceaux d´ Or Internacional Medalla de Bronce Categoría Tijeras </p>
            <p><b>2000</b> Montpellier (Francia) Ciceaux d´ Or Internacional. Medalla de Oro Categoría Stripping</p>

            <p><b>2001</b> Milán (Italia). Milangroom Internacional. Medalla de Plata Categoría Spaniel</p>
            <p><b>2001</b> Montpellier (Francia) Ciceaux d´ Or Internacional Medalla de Bronce Categoría Tijeras </p>
            <p><b>2001</b> Montpellier (Francia) Ciceaux d´ Or Internacional Medalla de Oro Categoría Spaniels</p>
            <p><b>2001</b> Montpellier (Francia) Ciceaux d´ Or Internacional <b>BEST IN SHOW DE LA COMPETICION con Cocker Americano</b></p>
            <p><b>2001</b> New York (USA). Intergroom International. Participación por invitación en “Oster Tournament of Champions”</p>

            <p><b>2002</b> Praga (República Checa)  Pragabest Grooming Contest. Medalla de Oro Categoria Spaniel</p>
            <p><b>2002</b> Praga (República Checa)  Pragabest Grooming Contest <b>BEST IN SHOW DE LA COMPETICION con Cocker Americano</b></p>

            <p><b>2004</b> Bruselas (Bélgica). Campeonato Internacional. Medalla de Oro Categoría Stripping</p>
            <p><b>2004</b> Bruselas (Bélgica). Campeonato Internacional. Medalla de Plata Categoría Tijera</p>
            <p><b>2004</b> Bruselas (Bélgica). Campeonato Internacional. Medalla de Oro Categoría Spaniel</p>
            <p><b>2004</b> Bruselas (Bélgica). Campeonato Internacional <b>BEST IN SHOW DE LA COMPETICION con Cocker Americano</b></p>
            <p><b>2004</b> Montpellier (Francia) <b>CISEAUX DE DIAMANT</b> Trofeo para campeones. Medalla de Oro</p>

            <p><b>2005</b> Milán (Italia). Milangroom Internacional. Medalla de Plata Categoría Tijeras</p>
            <p><b>2005</b> Milán (Italia). Milangroom Internacional. Medalla de Plata Categoría Caniche</p>
            <p><b>2005</b> Baviera (Alemania). Internatinal Grooming Competition. Medalla de Plata Categoría Caniche</p>

            <p>Oster Trofeo de Campeones<b>,200</b>5: Tercera Clasificada, con Cocker Americano.</p>

            <p><b>2006</b> Montpellier (Francia). Ciceaux d´ Or Internacional Medalla de Plata Categoría Tijeras</p>
            <p><b>2006</b> Montpellier (Francia). European Championship EGA Tercera Clasificada. Participación con Cocker Americano, Kerry blue Terrier y Caniche.</p>


            <p><b>2007</b> Milán (Italia).  World Team Grooming Championship EGA. Tercer clasificado.</p>

            <p><b>2009</b> Baviera (Alemania). World Team Grooming Championship EGA. Cuarto Clasificado.</p>

            <p><b>2017</b> Milán (Italia).  World Team Grooming Championship EGA. Tercer Clasificado.</p>
            <p><b>2018</b> Roma (Italia). Milangroom. Campeonato de Jueces EGA.  Medalla de ORO</p>
            <p><b>2018</b> Barcelona (España). Artero Grooming Slam. Campeonato por Equipos. Medalla de ORO con el equipo Hydra</p>
        </div>
        <div class="col-12" *ngIf="show == 'juez'">
            <h5>1998</h5>
            <p>Marbella (España). Campeonato Nacional / Internacional – AEEC </p>

            <h5>1999</h5>
            <p>Castelldefels (España).Campeonato Nacional / Internacional – AEEC</p>

            <h5>2000</h5>
            <p>Napoli (Italia) Campeonato Nacional de Italia ATI</p>

            <h5>2001</h5>
            <p>Girona (España).Campeonato de Cataluña. </p>
            <p>Castelldefels (España).Campeonato Nacional / Internacional – AEEC</p>

            <h5>2002</h5>
            <p>Milano (Italia). Campeonato Internacional Milangroom </p>
            <p>Montpellier (Francia). Campeonato Internacional Ciseaux D' Or.</p>
            <p>Girona (España).Campeonato de Cataluña. </p>
            <p>Málaga (España).Campeonato de Andalucía </p>
            <p>Castelldefels (España).Campeonato Nacional / Internacional – AEEC</p>
            <p>Castelldefels (España). Oster European Tournament of Champions.</p>

            <h5>2003</h5>
            <p>Barcelona (España).Campeonato Nacional / Internacional – AEEC</p>
            <p>Barcelona (España). World Team Grooming Championship EGA </p>
            <p>Praga (República Checa). Pragobest. Campeonato Internacional de Praga.</p>

            <h5>2004</h5>
            <p>Castelldefels (España).Campeonato Nacional / Internacional – AEEC</p>
            <p>Castelldefels (España). European Championship.</p>


            <h5>2005</h5>
            <p>Montpellier (Francia). Campeonato Ciseaux D'or, </p>
            <p>Montpellier (Francia). World Team Grooming Championship EGA</p>
            <p>Nápoles (Italia). Campeonato Nacional de Italia ATI</p>

            <h5>2006</h5>
            <p>Girona (España).Campeonato Nacional / Internacional – AEEC</p>
            <p>Girona (España). Oster European Tournament of Champions.</p>

            <h5>2008</h5>
            <p>Verbania (Italia) Campeonato Internacional Milangroom.</p>
            <p>Girona (España).Campeonato Nacional / Internacional – AEEC</p>


            <h5>2009</h5>
            <p>Montpellier (Francia). Oster European Tournament of Champions. </p>
            <p>Montpellier (Francia). Campeonato Internacional Ciseaux D'Or. </p>
            <p>Milán (Italia). Campeonato Internacional Milangroom</p>
            <p>Zaragoza (España). Campeonato Internacional Artero.</p>

            <h5>2010</h5>
            <p>Girona (España).Campeonato Nacional / Internacional – AEEC</p>
            <p>Girona (España). European Championship EGA</p>

            <h5>2011</h5>
            <p>Birmingham (Inglaterra) PremierGroom International</p>
            <p>Girona (España).Campeonato Nacional / Internacional – AEEC</p>
            <p>Montpellier (Francia). Campeonato Internacional Ciseaux D' Or.</p>
            <p>kortrijk (Belgica). Campeonato Internacional, Groomania.</p>
            <p>kortrijk (Belgica). World Team Grooming Championship EGA </p>
            <p>Polonia. Silesia International Grooming Show.</p>

            <h5>2012</h5>
            <p>Rimini (Italia) Campeonato Internacional Mastershow.</p>
            <p>Montpellier (Francia). Campeonato Internacional Ciseaux D' Or.</p>
            <p>Girona (España).Campeonato Nacional / Internacional – AEEC</p>
            <p>Kiev (Ucrania) Campeonato Internacional Ucrania Master Groom</p>

            <h5>2013</h5>

            <p>Girona (España).Campeonato Nacional / Internacional – AEEC</p>
            <p>Valencia (España). Campeonato Internacional Groomeval.</p>
            <p>Barcelona (España).World Team Grooming Championship EGA. </p>

            <h5>2014</h5>
            <p>Novosibirsk (Rusia). Campeonato Internacional SIBGROOM</p>
            <p>Chendú (China). Campeonato NGKC. Pet Grooming Contest</p>
            <p>Valencia (España). Campeonato Groomeval.</p>
            <p>Lacio (Italia). Campeonato Nacional de Italia ATI</p>
            <p>Girona (España).Campeonato Nacional / Internacional – AEEC</p>

            <h5>2015</h5>
            <p>Santiago de Chile (Chile). Internacional GroomChile</p>
            <p>Beijing (China). International Grooming Championship. China Grooming Asocciation</p>
            <p>Girona (España). Campeonato Internacional AEEC.	</p>
            <p>Valencia (España). Campeonato Internacional Groomeval.</p>

            <h5>2016</h5>
            <p>Sao Paulo (Brasil). MasterGroom International</p>
            <p>Valladolid (España). Espagroom Campeonato Nacional.</p>
            <p>Montpellier (Francia). Campeonato Internacional Ciseaux d'Or</p>
            <p>Girona (España). Campeonato Internacional AEEC.	</p>
            <p>Girona (España). European Championship EGA</p>
            <p>Liege (Belgica). Golden Groomer International</p>
            <p>Marbella (España). Campeonato de Andalucia – AEEC</p>
            <p>Bogotá (Colombia). Expopet. Oster Tournamet New Talents Competition</p>
            <p>Valencia (España). Campeonato Internacional Groomeval.</p>

            <h5>2017</h5>
            <p>Niedergösgen, Canton Soleura (Suiza). Campeonato Internacional de Peluquería canina.</p>
            <p>Valladolid (España). Espagroom Campeonato Nacional.</p>
            <p>Girona (España). Espagroom Campeonato Internacional.</p>

            <h5>2018</h5>
            <p>Valladolid (España). Espagroom Campeonato Nacional.</p>
            <p>Girona (España). Espagroom Campeonato Internacional</p>
            <p>Mexicali (México). La Cumbre. International Grooming Show</p>
            <p>Las Vegas (USA) Hotel Mandalay Bay Convention Center. Superzoo.</p>
            <p>Valencia (España). Campeonato Internacional Groomeval.</p>

            <h5>2019</h5>
            <p>Valladolid (España). Espagroom Campeonato Nacional</p>
            <p>Girona (España). Espagroom Campeonato Internacional.</p>
            <p>Girona (España). Oster European Tournament of Champions.</p>
            <p>Mexicali (México). La Cumbre. International Grooming Show</p>
            <p>California (USA). Silicon Valley Pet Event Experience. Grooming Competition</p>
            <p>Santo Domingo (Ecuador).Ecuagroom. Campeonato Nacional de peluquería</p>
            <p>Sao Paulo (Brasil). Super Groom Show.</p>
            <p>Budapest (Hungria). Gold Dog Grooming Show Hungary.  </p>
            <p>Bogotá (Colombia). GroomPro - Tournament</p>
            <p>Quito (Ecuador) Aercan. Campeonato Internacional de Peluquería Canina.</p>

            <h5>2020</h5>
            <p>Valladolid (España). Espagroom Campeonato Nacional</p>
            <p>On Line.  Romeo Grooming Show</p>
        </div>
        <div class="col-12" *ngIf="show == 'recon'">
            <p>Directora de Emilia Díaz Canine Grooming Academy desde 1997.</p>
            <p>Presidenta de la Asociación Española de Estilistas Caninos.</p>
            <p>Organizadora y jueza del Campeonato Internacional de España en todas sus ediciones.</p>
            <p>Miembro fundador de la European Grooming Association </p>
            <p>Miembro del consejo de la European Grooming Association.</p>
            <p>Directora de International Grooming Academy </p>
            <p>Directora Técnica Internacional de Escuelas Referentes para Pet Society en Brasil.</p>
            <p>Medalla de Oro otorgada por la Real Sociedad Canina de España por sus 20 años en el mundo de la Cinofília. 2014.</p>
            <p>Embajadora de la marca Oster </p>
            <p>Embajadora de la marca Hydra</p>
            <p>Directora Técnica de Hydra España</p>
            <p>Groomer Referente internacional Hydra</p>
            <p>Certificadora de la European Grooming Association (EGA) para Latinoamérica</p>
            <p>Miembro del Comité de expertos del Instituto Nacional de Cualificaciones, para el procedimiento de reconocimiento y acreditación de Competencias Profesionales relativas a Cuidados higiénicos y estéticos de animales de compañía GAA_506_2.   Nivel 2. Ministerio de Educación y formación Profesional de España  </p>
        </div>
    </div>
</div>

<footer></footer>