<navbar></navbar>

<div class="container-fluid" style="margin-top: 85px;">
    <div class="row intro-bio">
        <div class="col-xs-12 col-md-4">
            <img src="/assets/images/emilia-frontal.png" alt="imagen-ed" srcset="" height="400" class="img-responsive" >
        </div>
        <div class="col-xs-12  col-md-8" data-aos="fade-down" data-aos-duration="100">
            <p  style="margin-top: 50px; font-size: 43px;">Emilia Díaz</p>
            <p><i style="font-size: 27px;margin-right: 7px;" class="fas fa-quote-left"></i>    Para ser un gran profesional no es necesario conseguir un campeonato del mundo, pero si es importante la humildad, la capacidad de aprendizaje, el actualizarse constantemente y disfrutar del arte de la peluquería canina. Conseguir combinar todas y cada una de las nuevas técnicas para entregar la pasión y calidad que tus clientes y sus mascotas merecen.      <i style="font-size: 27px;margin-left: 7px;" class="fas fa-quote-right"></i></p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row sections-bio" >
        <div class="col-2"></div>
        <div class="col-4 col-xs-12"  data-aos="fade-right" data-aos-duration="4000">
            <p class="clickable" (click)="setShowValue('bio')" [ngClass]="changeActiveClass('bio')">Biografía</p>
            <p class="clickable" (click)="setShowValue('sema')" [ngClass]="changeActiveClass('sema')">Cursos y seminarios Impartidos</p>
            <p class="clickable" (click)="setShowValue('semb')" [ngClass]="changeActiveClass('semb')">Cursos y seminarios Realizados</p>
        </div>
        <div class="col-4 col-xs-12"  data-aos="fade-left" data-aos-duration="4000">
            <p class="clickable" (click)="setShowValue('comp')" [ngClass]="changeActiveClass('comp')">Trayectoría como competidora</p>
            <p class="clickable" (click)="setShowValue('juez')" [ngClass]="changeActiveClass('juez')">Trayectoría como jueza</p>
            <p class="clickable" (click)="setShowValue('recon')" [ngClass]="changeActiveClass('recon')">Cargos y reconociminetos</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>  
<div class="container">  
    
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-12" *ngIf="show == 'bio'" data-aos="fade-up" data-aos-duration="4000">
            <h3>BIOGRAFIA</h3> 


            <h5>Los Inicios</h5>
            <p>Desde pequeña resido en Santa Coloma de Gramanet (Barcelona) y me formo en el ámbito deportivo, dedicándome al deporte y a mejorar la salud de las personas, trabajando para el Ayuntamiento de la localidad, impartiendo clase polideportivas en sus instalaciones municipales, aunque mi deporte predilecto es el atletismo, que me ha ayudado enormemente a adquirir <b>valores personales como constancia, sacrificio, trabajo, compañerismo, ética o dedicación</b>, los cuales han sido vitales para su desarrollo personal y profesional.</p>
            
            
            <h5>1986-1995</h5>
            <p>Me traslado a Girona en 1986 donde adquiero con mi marido Julio Salamanca unos ejemplares de Husky Siberiano con el fin de entrenar para correr con Tiro de Trineo, objetivo “La Pirena” </p>
            <p>Nos gusta tanto la raza que adquirimos nuestro primer ejemplar de Exposición a Rhonda Hayward “Artic Blue Ambassador” un perro bellísimo, que ya en su primer Show queda BIS CACHORROS.</p>
            <p>En 1988 ya tengo mi afijo "MOON WITHE", con el Nº 3973 y reconocido por la F.C.I.</p>
            <p>Es tanta la pasión por la competición, que empezamos a adquirir otras razas para ir a Campeonatos de belleza, adquiriendo Cocker Americano, Kerry Blue Terrier, Irish Soft Coated Wheaten Terrier, Bichón Frisé y Caniche Gigante.</p>
            <p>En un principio mi formación para los arreglos de las razas que exponía, era de forma autodidacta, dedicando muchísimas horas a intentar copiar arreglos que veía. En aquella época nadie invertía tiempo en enseñarte, pero al adquirir una raza determinada tenía el compromiso por el criador/handler, y me daban nociones iniciales de los arreglos, que sabía aprovechar y memorizar.</p>
            
            <h5>1996-2002</h5>
            <p>Mi inquietud por el aprendizaje, formación y la competición, me hace investigar y averiguar constantemente, aunque era muy difícil, ya que no había Internet ni redes sociales, pero aun así logo <b>asistir al primer International Oster Tournament</b> de peluquería en Bruselas en 1996, donde coincido con los más grandes profesionales del momento, que hacen, que todo cambiara en mí y platearme mi futuro: <b>“Quiero ser profesional de la Peluquería Canina”</b></p>
            
            <p>A partir de 1997 todo cambia, empiezo a competir en campeonatos de peluquería rápida, muchas son las participaciones para empezar a entender las competiciones, pero con mi perseverancia y constancia, consigo ganar primero respeto como competidora, y más tarde como premiada, ya que llegan los triunfos, medallas, BIS y otros galardones y triunfos, tanto a nivel Nacional como Internacional.</p>
            <p>Conozco a peluqueros con los que tenemos afinidad y más tarde amistad, que ha perdurado en el tiempo, gracias a las vivencias, aprendizajes en común y convivencia. Gracias a ellos logramos organizarnos y crear la Asociación Española de Estilistas Caninos cuyo objetivo principal en este momento es la formación de los peluqueros y más tarde el reconocimiento de la profesión.</p>
            
            <p>Es en 1997 cuando formalizo el nacimiento de <b>Emilia Diaz Canine Grooming Academy</b> y empiezo a formar peluqueros/as profesionales en Girona.</p>
            
            
            
            <h5>2003-2007</h5>	
            <p>Se crea la <b>European Grooming Association</b>, donde soy miembro fundador del consejo de la EGA.</p>
            <p>Participo en la organización de campeonato del mundo por equipos en Europa, que organizamos en Barcelona, consiguiendo más reconocimiento y prestigio.</p>
            <p>Gracias a toda la dedicación y esfuerzo del Consejo de la EGA, iniciamos un trabajo que ha ido evolucionando hasta la actualidad.</p>
            
            <h5>2008-2012</h5>
            <p>Primer contacto con el Ministerio de Educación por el reconocimiento de la profesión.</p>
            
            <h5>2013-2014</h5>
            <p>Gracias a esta proyección diferentes empresas internacionales me hacen imagen de sus empresas, como Oster o Pet Society.</p>
            
            <p>Año importante donde se me abren las puertas a nivel internacional en el campo de la formación, <b>impartiendo seminarios, clases y conocimientos a más 12000 profesionales de 25 países</b>.</p>
            <p>Gracias a esta proyección diferentes compañías internacionales del sector como <b>Oster o Pet Society</b>, se interesan en <b>hacer de mi la cara visible</b> de sus empresas.</p>
            
            <h5>2015-2016</h5>
            <p>Nace <b>International Grooming Academy</b> y los centros asociados de formación. </p>
            <p>Son años que marcarán parte de la historia por mi incorporación Ministerio de Educación por el reconocimiento de la profesión, como <b>Miembro del Comité de Expertos</b>, por el reconocimiento y acreditación de la profesión, en el <b>Instituto Nacional de Cualificaciones</b>.</p>
            
            <h5>2017-Actualidad</h5>
            <p>A partir del 2017 la formación presencial es el motor de mi profesión, entregar constantemente conocimiento para ayudar al crecimiento de los profesionales. </p>
            <p>Se me nombra <b>Groomer Referente Internacional</b> de la prestigiosa marca de cosmética animal <b><i>Hydra Profesional</i></b>, pero es a partir del 2019, cuando empiezo a trabajar en el nuevo proyecto, como <b>Directora Técnica en España</b> de dicha marca.</p>
        </div>
        <div class="col-12" *ngIf="show == 'sema'"   data-aos="fade-up" data-aos-duration="4000">
            <h3>Cursos y Seminarios Impartidos</h3>


<h5>1999 </h5>
<p>Seminario demostración de peluqueria rápida : Kerry Blue Terrier. Madrid (España).</p>

<h5>2000 </h5>
<p>Seminario demostración de Bichón Frisé y Kerry Blue Terrier. Silleda (España).</p>

<h5>2001 </h5>
<p>Seminario monográfico de Schnauzer Gigante. Vigo (España).</p>
<p>Seminario demostración Cocker Spaniel Americano y Kerry Blue Terrier. Silleda (España).</p>
<p>Seminario monográfico de Schnauzer mediano y miniatura. Caldas (España).</p>

<h5>2002 </h5>
<p>Seminario - Taller de trabajo Scottish - Cocker americano. Silleda (España).</p>
<p>Exhibición V festival de peluquería IV Sanbernard "Perros bajo las estrellas". Empoli (Italia).</p>

<h5>2003 </h5>
<p>Kennel Club de Chile. Profesora del primer curso nacional de peluquería canina. Santiago de Chile (Chile).</p>

<h5>2008 </h5>
<p>Seminario de Terranovas, arreglos de exposición. Girona (España).</p>
<p>Grooming Art. Seminario monográfico de Kerry Blue Terrier. Barcelona (España).</p>

<h5>2009 </h5>
<p>Seminario monográfico de Cocker Inglés y Cocker Americano. Girona (España).</p>
<p>Seminario monográfico de Cocker Americano y Bichón Frisé. Madrid (España).</p>

<h5>2010 </h5>
<p>Seminario monográfico de Cocker Americano y Bichón Frisé. Marbella (España)</p>
<p>Seminario / Demostración de Cocker Americano. Verbania (Italia).</p>

<h5>2011</h5>
<p>Silesia Grooming Show. Seminario monográfico de Cocker americano. Polonia.</p>

<h5>2012 </h5>
<p>Mastershow .Seminario monográfico de Cocker americano. Verbania (Italia).</p>
<p>Ukrania Master Grooming. Seminario monográfico de Cocker americano. Kiev (Ukrania).</p>

<h5>2013 </h5>
<p>Masterclass demostrativo en técnica de tijera y renovación de mantos. Taller de trabajo correctivo. Santiago de Chile (Chile).</p>
<p>GroomMasterclass demostrativo en técnica de tijera y renovación de mantos. Lima (Perú).</p>

<h5>2014</h5>
<p>Megagrooming Show. Demostración con Cocker Spaniel y Scottish Terrier. Sao Paulo (Brasil).</p>
<p>Certificación Internacional Escuelas Referentes Pet Society. Campinas (Brasil).</p>
<p>Masterclass demostrativo técnica de máquina, técnica de tijera y renovación de mantos. Santiago de Chile (Chile).</p>
<p>Masterclass demostrativo técnica de máquina, técnica de tijera y renovación de mantos. Lima (Perú).</p>
<p>Masterclass demostrativo técnica de máquina, técnica de tijera y renovación de mantos. Buenos Aires (Argentina).</p>
<p>Masterclass demostrativo técnica de máquina, técnica de tijera y renovación de mantos. Bogotá (Colombia).</p>
<p>Grooming Certification Contest and Grooming Championship. Chengdu (China).</p>

<h5>2015 </h5>
<p>Pet South América. Certificación Internacional Escuelas Referentes Pet Society. Sao Paulo (Brasil).</p>
<p>Grooming Show. Demostración técnica. Pekin (China).</p>
<p>GroomBrasil. Ponencias técnicas. Recife (Brasil).</p>
<p>Oster Masterclass de peluquería canina. Montevideo (Uruguay).</p>
<p>Taller de trabajo. Montevideo (Uruguay).</p>
<p>LatinZoo. Demostraciones Técnicas. México DF (México).</p>
<p>Oster Masterclass de peluquería canina. La Paz (Bolivia).</p>
<p>Oster Taller de trabajo. La Paz (Bolivia).</p>
<p>Megagrooming Show Sul. Seminario-demostración de Scottish Terrier. Florianópolis (Brasil).</p>
<p>Clase magistral sobre la profesionalidad del peluquero canino. Santiago de Chile (Chile).</p>
<p>Infogroom. Morfologia y técnicas de trabajo con demostración con Cocker Americano. Kiev (Ukrania).</p>

<h5>2016 </h5>
<p>Mastershow CR. Masterclass demostrativo. Alajuela (Costa Rica).</p>
<p>Oster Masterclass. Técnica Hemati. Santiago de Chile (Chile)</p>
<p>Oster Masterclass en grooming profesional. Buenos Aires (Argentina).</p>
<p>Expopet. Masterclass demostrativo. Bogotá (Colombia).</p>
<p>Masterclass demostrativo y Taller de trabajo. Tampico (México).</p>
<p>Masterclass demostrativo y Taller de trabajo. La Paz (México).</p>
<p>Masterclass demostrativo y Taller de trabajo. Mexicali (México).</p>
<p>Masterclass demostrativo y Taller de trabajo. México DF (México).</p>
<p>Mastergroom. Congresso Brasileiro De Estetica Animal, demostración con Bichón Frisé. Sao Paulo (Brasil).</p>
<p>Professional Grooming Program. Ponencias técnicas. Masterclass de peluquería canina. México DF (México).</p>

<h5>2017 </h5>
<p>Megagrooming Show. Demostración con Kerry Blue Terrier. Sao Paulo (Brasil).</p>
<p>Demostraciones Técnica en Caniche gigante y Shnauzar miniuatura. Antofagasta (Chile).</p>
<p>Hydra Grooming Show. Demostraciones Técnicas en distintas razas. Fortaleza (Brasil).</p>
<p>Pichara. Formación /Demostración con implementos. Santiago de Chile (Chile).</p>

<h5>2018 </h5>
<p>Mastershow CR. Masterclass demostrativo. Alajuela (Costa Rica).</p>
<p>Cosmetología aplicada. Marbella (España).</p>
<p>Curso de especialización Internacional. Girona (España).</p>
<p>Superzoo. Hotel Mandalay Bay Convention Center. Demostración arreglo europeo Kerry Blue Terrier. Las Vegas (USA)</p>
<p>Expopet. Masterclass demostrativo. Bogotá (Colombia).</p>
<p>Expopet. Oster Tournamet International Competition. Bogotá (Colombia).</p>
<p>Masterclass demostrativo y Taller de trabajo. Mexicali (México).</p>
<p>Masterclass demostrativo y Taller de trabajo. Mérida-Yucatán (México).</p>

<h5>2019 </h5>
<p>Grooming Fest. Mega evento demostrativo. Santiago de Chile (Chile).</p>
<p>Cosmetología aplicada. Sevilla (España).</p>
<p>Cosmetología aplicada. Valencia (España).</p>
<p>Ecuagroom. Congreso de peluquería demostrativo con taller de trabajo. Santo Domingo (Ecuador).</p>
<p>Grooming Prof. Mega evento demostrativo. Sevilla (España).</p>
<p>Expopet. Masterclass demostrativo. Bogotá (Colombia).</p>
<p>AERCAN: Seminario Demostrativo de Estilismo Canino. Quito (Ecuador).</p>
<p>Silicon Valley Pet event. Ponencia técnica. California (USA).</p>
<p>Clase magistral de Renovación de mantos y Técnica de tijera. Lisboa (Portugal).</p>

<h5>2020 </h5>
<p>Hydra Grooming Show. Demostraciones Técnicas en distintas razas. Fortaleza (Brasil).</p>
<p>Megagrooming Show. Demostración con Schnauzer Miniatura. Sao Paulo (Brasil).</p>
        </div>
        <div class="col-12" *ngIf="show == 'semb'"   data-aos="fade-up" data-aos-duration="4000">
            <h3>Cursos y Seminarios Realizados</h3>
<h5>1998 </h5>
<p>Jornadas multiponencias Artero. Barcelona (España).</p>
<p>Vincent Pastor. El pelo duro. Estándar y arreglo Fox Terrier y West Highland White Terrier. Girona (España).</p>

<h5>1999 </h5>
<p>Shirlee Kalstone. Balance y Simetría en los arreglos. Especial Caniche Gigante. New York (USA)</p>
<p>Cesar Mosquera. Estándar y arreglo del Cocker Spaniel Inglés y Cocker Spaniel Americano. Murcia (España).</p>
<p>Ángel Marqués. Estándar y arreglo del Caniche mediano y Bichón Frisé. Madrid (España).</p>
<p>Enrique de la Morena. Arreglo y mantenimiento Cocker Spaniel Inglés. Madrid (España).</p>
<p>Umberto Lehmann. Estandar y arreglo Caniche gigante. Marbella(España).</p>
<p>Jornadas multiponencias Artero. Barcelona (España).</p>

<h5>2000 </h5>
<p>Umberto Lehmann.  Estandar y arreglo con las razas Soft Coated Terrier, Caniche gigante y Caniche enano. Mallorca (España).</p>
<p>Scott Wasserman. Scottish Terrier, arreglo y estándar. Montpelier (Francia).</p>
<p>Jean-Françoise Vanaken. Caniche enano, arreglo y estándar. Montpelier (Francia).</p>
<p>Jean-Georges Leonard (Francia) Cocker Americano, arreglo y estándar. Montpelier (Francia).  </p>
<p>Kitty Dekeersgieter. Rendimiento de una peluquería. Montpelier (Francia).  </p>
<p>Mijo Klein. Arreglo del Scottish Terrier. Montpelier (Francia).  </p>
<p>Luis Jerez. Arreglo del Cocker Spaniel Americano y Buvier de Flandes. Madrid (España).</p>
<p>Enrique de la Morena. Arreglo y mantenimiento Soft Coated Terrier. Madrid (España).</p>

<h5>2001 </h5>
<p>Lynne Carver. Curso de especialización en técnica de tijeras Bichón Frisé y Caniche. Utah (USA).</p>
<p>Umberto Lehmann. Estándar y arreglo del Terranova. Barcelona (España).</p>
<p>Lynne Carver. Curso de especialización en kerry Blue Terrier y Boston Terrier. Utah (USA).</p>
<p>Ángel Marqués y Raul López. Seminario de Caniche y Bichón Frisé. Madrid (España).</p>
<p>Fernando Fernández. Estándar y arreglo del Scottish Terrier. Barcelona (España).</p>
<p>Jesús Pastor.  Estándar y arreglo del West Highland White Terrier. Girona (España).</p>
Carlos Puime. Estándar y arreglo del Fox Terrier. Girona (España).

<h5>2004 </h5>
<p>José Luis Moreno. Seminario de Presentación en Ring. Girona (España).</p>
<p>Ronny de Munter. Seminario pelo duro. Montpelier (Francia).  </p>

<h5>2005 </h5>
<p>Enric Vilavedra, seminario de West Highland. Girona (España).</p>

<h5>2006 </h5>
<p>Ángel Marqués, seminario de Caniches. Girona (España).  </p>

<h5>2007 </h5>
<p>Lorena Meratti, seminario de Aireadle Terrier. Verbania (Italia)</p>



<h5>2008 </h5>
<p>Félix Duque. Seminario de arreglo del Maltés. Girona (España).  </p>

<h5>2009 </h5>
<p>Enrique de la Morena. Arreglo y mantenimiento Cocker Spaniel Inglés. Girona (España).  </p>
<p>Enrique de la Morena. Seminario de presentación para exposiciones. Girona (España).  </p>
<p>Enrique de la Morena. Seminario de morfología del Caniche. Girona (España).  </p>

<h5>2010 </h5>
<p>Juan Carlos Rodríguez. Seminario de kerry blue y Scotish terrier. Girona (España).  </p>
<p>Carine Levi. Seminario de mantenimiento Caniche Gigante. Girona (España).  </p>
<p>Félix Duque. Seminario de mantenimiento de mantos largos. Girona (España).  </p>

<h5>2013 </h5>
<p>Enrique de la Morena, Seminario de Caniche. Madrid (España).  </p>
<p>Toshinori Omura, Seminario de Caniche. Barcelona (España).</p>

<h5>2014 </h5>
<p>Juan Pio Milano. Seminario de Afgano. Santiago de Chile (Chile)</p>
<p>Mavis Hao, Seminario de Caniches. Girona (España).   </p>
<p>Seminario formativo con Máximo Campo. Arenys de Munt (España).</p>

<h5>2016 </h5>
<p>Anna Bardesheva. Morfología, simetría y equilibrio de las razas Caniche gigante y Bichón Frisé. Girona (España).  </p>

<h5>2017 </h5>
<p>Núria Díaz. Peluquería felina. Madrid (España).  </p>

<h5>2018 </h5>
<p>Michael Zhang. Estilo asiático expresiones. Barcelona (España).</p>
<p>Natalia Tikhonova. Técnicas de arreglo y transformación en el Caniche. Barcelona (España).</p>

<h5>2019 </h5>
<p>Candy Liu. Estilo asiático pelo liso. Sevilla (España).</p>
<p>Steven Hong. Estilo asiático pelo rizado. Sevilla (España).</p>
<p>Yulia Marenkova. Organización en el trabajo. Sevilla (España).</p>

<h5>2020 </h5>
<p>Israel España. Técnicas de arreglo en el Chow Chow. Sao Paulo (Brasil).</p>
<p>Susan Hatch. Técnicas de arreglo Springer Spaniel. Sao Paulo (Brasil).</p>
<p>Gabriel Feitosa. Técnicas de arreglo Bichón Frisé. Sao Paulo (Brasil).</p>
<p>Online Hydra Internacional. Xisca Martorell. Creatividad estilo asíatico pelo rizado.</p>
        </div>
        <div class="col-12" *ngIf="show == 'comp'"   data-aos="fade-up" data-aos-duration="4000">
            <h3>Trayectoría como Competidora</h3>
<h5>1997</h5>
<p>Sizoo Campeonato Internacional Medalla de Plata Categoría Show Class. Barcelona (España).</p>

<h5>1998</h5>
<p>Ciceaux d´ Or Internacional Medalla de Plata Categoría Tijeras. Montpellier (Francia)</p>
<p>Sizoo Campeonato Internacional. Medalla de Oro Categoría Mestizos. Barcelona (España).</p>
<p>Sizoo Campeonato Internacional Medalla de Oro Categoría Tijeras. Barcelona (España).</p>
Intergroom International. Participación. New York (USA).

<h5>1999</h5>
<p>Intergroom International Medalla de Plata Categoría Tijeras. New York (USA).</p>
<p>Ciceaux d´ Or Internacional Medalla de Plata Categoría Tijeras. Montpellier (Francia)</p>
<p>Sizoo Campeonato Internacional. Medalla de Oro Categoría Mestizos. Barcelona (España).</p>

<h5>2000 </h5>
<p>Milangroom Internacional. Medalla de Oro Categoría Spaniel. Milán (Italia).</p>
<p>Intergroom International Medalla de Plata Categoría Spaniels. New York (USA).</p>
<p>Ciceaux d´ Or Internacional Medalla de Bronce Categoría Tijeras. Montpellier (Francia)</p>
<p>Ciceaux d´ Or Internacional. Medalla de Oro Categoría Stripping. Montpellier (Francia)</p>

<h5>2001 </h5>
<p>Milangroom Internacional. Medalla de Plata Categoría Spaniel. Milán (Italia).</p>
<p>Ciceaux d´ Or Internacional Medalla de Bronce Categoría Tijeras. Montpellier (Francia)</p>
<p>Ciceaux d´ Or Internacional Medalla de Oro Categoría Spaniels. Montpellier (Francia)</p>
<p>Ciceaux d´ Or Internacional BEST IN SHOW DE LA COMPETICION con Cocker Americano. Montpellier (Francia)</p>
<p>Intergroom International. Participación por invitación en “Oster Tournament of Champions”. New York (USA).</p>

<h5>2002 </h5>
<p>Pragabest Grooming Contest. Medalla de Oro Categoria Spaniel. Praga (República Checa)  </p>
<p>Pragabest Grooming Contest BEST IN SHOW DE LA COMPETICION con Cocker Americano. Praga (República Checa)  </p>

<h5>2004 </h5>
<p>Campeonato Internacional. Medalla de Oro Categoría Stripping. Bruselas (Bélgica).</p>
<p>Campeonato Internacional. Medalla de Plata Categoría Tijera. Bruselas (Bélgica).</p>
<p>Campeonato Internacional. Medalla de Oro Categoría Spaniel. Bruselas (Bélgica).</p>
<p>Campeonato Internacional BEST IN SHOW DE LA COMPETICION con Cocker Americano. Bruselas (Bélgica).</p>
<p>CISEAUX DE DIAMANT Trofeo para campeones. Medalla de Oro. Montpellier (Francia)</p>

<h5>2005 </h5>
<p>Milangroom Internacional. Medalla de Plata Categoría Tijeras. Milán (Italia).</p>
<p>Milangroom Internacional. Medalla de Plata Categoría Caniche. Milán (Italia).</p>
<p>Internatinal Grooming Competition. Medalla de Plata Categoría Caniche Baviera (Alemania).</p>
<p>Oster Trofeo de Campeones,2005: Tercera Clasificada, con Cocker Americano.</p>

<h5>2006 </h5>
<p>Ciceaux d´ Or Internacional Medalla de Plata Categoría Tijeras. Montpellier (Francia)</p>
<p>European Championship EGA Tercera Clasificada. Participación con Cocker Americano, Kerry blue Terrier y Caniche. Montpellier (Francia)</p>

<h5>2007 </h5>
<p>World Team Grooming Championship EGA. Tercer clasificado. Milán (Italia).</p>

<h5>2009 </h5>
<p>World Team Grooming Championship EGA. Cuarto Clasificado. Baviera (Alemania).</p>

<h5>2017 </h5>
<p>World Team Grooming Championship EGA. Tercer Clasificado. Milán (Italia).</p>
<h5>2018 </h5>
<p>Milangroom. Campeonato de Jueces EGA.  Medalla de ORO. Roma (Italia).</p>
<p>Artero Grooming Slam. Campeonato por Equipos. Medalla de ORO con el equipo Hydra. Barcelona (España).</p>

         </div>
        <div class="col-12" *ngIf="show == 'juez'"   data-aos="fade-up" data-aos-duration="4000">
            <h3>Trayectoría como Jueza</h3>
<h5>1998</h5>
<p>Campeonato Nacional / Internacional – AEEC. Marbella (España).</p>

<h5>1999</h5>
<p>Campeonato Nacional / Internacional – AEEC. Castelldefels (España).</p>

<h5>2000</h5>
<p>Campeonato Nacional de Italia ATI. Napoli (Italia)</p>

<h5>2001</h5>
<p>Campeonato de Cataluña. Girona (España).</p>
<p>Campeonato Nacional / Internacional – AEEC. Castelldefels (España).</p>

<h5>2002</h5>
<p>Campeonato Internacional Milangroom. Milano (Italia).  </p>
<p>Campeonato Internacional Ciseaux D' Or. Montpellier (Francia).</p>
<p>Campeonato de Cataluña. Girona (España).</p>
<p>Campeonato de Andalucía. Málaga (España).</p>
<p>Campeonato Nacional / Internacional – AEEC. Castelldefels (España).</p>
<p>Oster European Tournament of Champions. Castelldefels (España).</p>

<h5>2003</h5>
<p>Campeonato Nacional / Internacional – AEEC. Barcelona (España).</p>
<p>World Team Grooming Championship EGA. Barcelona (España).</p>
<p>Pragobest. Campeonato Internacional de Praga. Praga (República Checa).</p>

<h5>2004</h5>
<p>Campeonato Nacional / Internacional – AEEC. Castelldefels (España).</p>
<p>European Championship. Castelldefels (España).</p>


<h5>2005</h5>
<p>Campeonato Ciseaux D'or. Montpellier (Francia).</p>
<p>World Team Grooming Championship EGA. Montpellier (Francia).</p>
<p>Campeonato Nacional de Italia ATI. Nápoles (Italia).</p>

<h5>2006</h5>
<p>Campeonato Nacional / Internacional – AEEC. Girona (España).</p>
<p>Oster European Tournament of Champions. Girona (España).</p>

<h5>2008</h5>
<p>Campeonato Internacional Milangroom. Verbania (Italia)</p>
<p>Campeonato Nacional / Internacional – AEEC. Girona (España)</p>

<h5>2009</h5>
<p>Oster European Tournament of Champions. Montpellier (Francia).</p>
<p>Campeonato Internacional Ciseaux D'Or. Montpellier (Francia).</p>
<p>Campeonato Internacional Milangroom. Milán (Italia).</p>
<p>Campeonato Internacional Artero. Zaragoza (España).</p>

<h5>2010</h5>
<p>Campeonato Nacional / Internacional – AEEC. Girona (España).</p>
<p>European Championship EGA. Girona (España).</p>

<h5>2011</h5>
<p>PremierGroom International. Birmingham (Inglaterra)</p>
<p>Campeonato Nacional / Internacional – AEEC. Girona (España).</p>
<p>Campeonato Internacional Ciseaux D' Or. Montpellier (Francia).</p>
<p>Campeonato Internacional, Groomania. Kortrijk (Belgica).</p>
<p>World Team Grooming Championship EGA. Kortrijk (Belgica).</p>
<p>Silesia International Grooming Show. Polonia.</p>

<h5>2012</h5>
<p>Campeonato Internacional Mastershow. Rimini (Italia)</p>
<p>Internacional Ciseaux D' Or. Montpellier (Francia).</p>
<p>Campeonato Nacional / Internacional – AEEC. Girona (España).</p>
<p>Campeonato Internacional Ucrania Master Groom. Kiev (Ucrania)</p>

<h5>2013</h5>
<p>Campeonato Nacional / Internacional – AEEC. Girona (España).</p>
<p>Campeonato Internacional Groomeval. Valencia (España).</p>
<p>World Team Grooming Championship EGA. Barcelona (España).</p>

<h5>2014</h5>
<p>Campeonato Internacional SIBGROOM. Novosibirsk (Rusia).</p>
<p>Campeonato NGKC. Pet Grooming Contest. Chendú (China).</p>
<p>Campeonato Groomeval. Valencia (España).</p>
<p>Campeonato Nacional de Italia ATI. Lacio (Italia).</p>
<p>Campeonato Nacional / Internacional – AEEC. Girona (España).</p>

<h5>2015</h5>
<p>Internacional GroomChile. Santiago de Chile (Chile).</p>
<p>International Grooming Championship. China Grooming Asocciation. Beijing (China).</p>
<p>Campeonato Internacional AEEC. Girona (España).	</p>
<p>Campeonato Internacional Groomeval. Valencia (España).</p>

<h5>2016</h5>
<p>MasterGroom International. Sao Paulo (Brasil).</p>
<p>Espagroom Campeonato Nacional. Valladolid (España).</p>
<p>Campeonato Internacional Ciseaux d'Or. Montpellier (Francia).</p>
<p>Campeonato Internacional AEEC. Girona (España).	</p>
<p>European Championship EGA. Girona (España).</p>
<p>Golden Groomer International. Liege (Belgica).</p>
<p>Campeonato de Andalucia – AEEC. Marbella (España).</p>
<p>Expopet. Oster Tournamet New Talents Competition. Bogotá (Colombia).</p>
<p>Campeonato Internacional Groomeval. Valencia (España).</p>

<h5>2017</h5>
<p>Campeonato Internacional de Peluquería canina. Niedergösgen, Canton Soleura (Suiza).</p>
<p>Espagroom Campeonato Nacional. Valladolid (España).</p>
<p>Espagroom Campeonato Internacional. Girona (España).</p>

<h5>2018</h5>
<p>Espagroom Campeonato Nacional. Valladolid (España).</p>
<p>Espagroom Campeonato Internacional. Girona (España).</p>
<p>La Cumbre. International Grooming Show. Mexicali (México).</p>
<p>Hotel Mandalay Bay Convention Center. Superzoo. Las Vegas (USA)</p>
<p>Campeonato Internacional Groomeval. Valencia (España).</p>

<h5>2019</h5>
<p>Espagroom Campeonato Nacional. Valladolid (España).</p>
<p>Espagroom Campeonato Internacional. Girona (España).</p>
<p>Oster European Tournament of Champions. Girona (España).</p>
<p>La Cumbre. International Grooming Show. Mexicali (México).</p>
<p>Silicon Valley Pet Event Experience. Grooming Competition. California (USA).</p>
<p>Ecuagroom. Campeonato Nacional de peluquería. Santo Domingo (Ecuador).</p>
<p>Super Groom Show. Sao Paulo (Brasil).</p>
<p>Gold Dog Grooming Show Hungary. Budapest (Hungria).</p>
<p>GroomPro – Tournament. Bogotá (Colombia).</p>
<p>Aercan. Campeonato Internacional de Peluquería Canina. Quito (Ecuador)</p>

<h5>2020</h5>
<p>Espagroom Campeonato Nacional. Valladolid (España).</p>
<p>Online.  Romeo Grooming Show</p>
        </div>
        <div class="col-12" *ngIf="show == 'recon'"   data-aos="fade-up" data-aos-duration="4000">
            <h3>Cargos y Reconocimientos</h3>
            <ul>
                <li>Directora de Emilia Díaz Canine Grooming Academy desde 1997.</li>
                <li>Presidenta de la Asociación Española de Estilistas Caninos.</li>
                <li>Organizadora y jueza del Campeonato Internacional de España en todas sus ediciones.</li>
                <li>Miembro fundador de la European Grooming Association </li>
                <li>Miembro del consejo de la European Grooming Association.</li>
                <li>Directora de International Grooming Academy </li>
                <li>Directora Técnica Internacional de Escuelas Referentes para Pet Society en Brasil.</li>
                <li>Medalla de Oro otorgada por la Real Sociedad Canina de España por sus 20 años en el mundo de la Cinofília. 2014.</li>
                <li>Embajadora de la marca Oster </li>
                <li>Embajadora de la marca Hydra</li>
                <li>Directora Técnica de Hydra España</li>
                <li>Groomer Referente internacional Hydra</li>
                <li>Certificadora de la European Grooming Association (EGA) para Latinoamérica</li>
                <li>Miembro del Comité de expertos del Instituto Nacional de Cualificaciones, para el procedimiento de reconocimiento y acreditación de Competencias Profesionales relativas a Cuidados higiénicos y estéticos de animales de compañía GAA_506_2.   Nivel 2. Ministerio de Educación y formación Profesional de España  </li>
            </ul>
        </div>
    </div>
    <map-contact></map-contact>
</div>
<social-network></social-network>
<footer></footer>