<navbar></navbar>
<iframe class="iframe" src="https://www.youtube.com/embed/OlzvtebNANk?fs=0&controls=0&autoplay=1&start=1&rel=0&showinfo=1?modestbranding=0" title="IGA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; s" allowfullscreen></iframe>


<div class="container-background">
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="main-title">CURSO TÉCNICO SUPERIOR</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 intro-text">
      <p>El Curso Técnico Superior es la formación base que te enseñará todo lo que debes saber para un desarrollo óptimo de esta profesión, desde la simple manipulación de la mascota hasta las técnicas más específicas. </p>
      <p>Nuestras instalaciones están diseñadas para favorecer al máximo el aprendizaje del curso, además de disponer de los materiales de la más alta calidad para su desarrollo.</p>
      <p>Emilia Díaz Canine Grooming Academy te ofrece seriedad, rigor y conocimientos profesionales asegurando una formación de máximo nivel, que te permitirá incorporarte al mundo laboral con facilidad tanto por su reconocimiento como por la bolsa de trabajo real que disponemos.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 intro-sub-text">
      <p>“Contamos con bolsa de trabajo real y activa. Si lo que te propones es trabajar, podemos ayudarte”</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="background-color:#EFEFEFEF;">
    <div class="col-12">
      <p class="secondary-title">PILARES DEL CURSO</p>
    </div>
  </div>
  <div class="row" style="background-color:#EFEFEFEF; padding: 10px; margin-bottom: 30px;">
    <div class="col-xs-12 col-sm-3 text-center" style="border-right:1px solid black;">
      <i class="fas fa-clock icon"></i>
      <p class="course-title">300 horas prácticas </p>
<p>En Emilia Diaz Academy damos importancia a la teoría y la práctica, priorizando sobre todo esta última. Somos el curso que más horas prácticas ofrece lo cual marcará diferencia en tu preparación y confianza.</p>
      </div>
      <div class="col-xs-12 col-sm-3 text-center" style="border-right:1px solid black;">
        <i class="fas fa-cut icon"></i> 
      <p class="course-title">Conocimiento de la técnica</p>
<p>Aprende de manera progresiva y metódica todas las técnicas claves para ser capaz de realizar cualquier trabajo. Tengas o no experiencia previa las dominarás todas.</p>
</div>
<div class="col-xs-12 col-sm-3 text-center" style="border-right:1px solid black;">
  <i class="fas fa-school icon"></i>
      <p class="course-title">Conocimiento y adaptación a cada zona de trabajo</p>
<p>Aprenderás a utilizar a tu favor cada centímetro del espacio que tengas disponible, para así optimizar tiempo y esfuerzo aumentando tu rendimiento al máximo.</p>
</div>
<div class="col-xs-12 col-sm-3 text-center" >
  <i class="fas fa-mug-hot icon"></i>
      <p class="course-title">Conocimiento del cliente</p>
<p>Aprenderás a fidelizar al cliente a través de generar grandes vínculos, aprendiendo diferentes técnicas para aumentar su confianza y mejorar aún más su experiencia.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="secondary-title">PROGRAMA DEL CURSO</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(1)">Gestión de un establecimiento de cuidados higiénicos y estéticos de animales de compañía</p>
    </div>
    <div class="col-12" *ngIf="idProgram == 1">
      <ul>
        <li>Tareas a desarrollar en un establecimiento.</li>
        <li>Atención al cliente y gestión de la información.</li>
        <li>Recepción del cliente y del animal.</li>
        <li>La comunicación. Canales de comunicación.</li>
        <li>Fidelización de clientes y seguimiento.</li>
        <li>Organización y gestión de la venta de servicios.</li>
        <li>Gestión básica fiscal y contable.</li>
        <li>Marketing y merchandising en la empresa.</li>
        <li>Reclamaciones y técnicas utilizadas para su resolución.</li>
        <li>Conservación y operaciones básicas de mantenimiento de equipos, herramientas y materiales.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(2)">Aprendizaje para valoración inicial de las condiciones de pelo y piel según especie y raza </p>
    </div>
    <div class="col-12" *ngIf="idProgram == 2">
      <ul>
        <li>Piel y manto.</li>
        <li>Conocimientos de razas.</li>
        <li>Conductas de aproximación.</li>
        <li>Mecanismos y medios técnicos para la sujeción y manipulación en zona seca.</li>
        <li>Ergonomía postural del profesional.</li>
      </ul>
    </div>
  </div>
  <div class="row">  
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(3)">Cepillado y peluquería higiénica</p>
    </div>
    <div class="col-12" *ngIf="idProgram == 3">
      <ul>
        <li>Aprendizaje de los diferentes tipos de pelo, sus características, estructura y estado.</li>
        <li>Técnica mecánica del cepillado.</li>
        <li>Cosmética aplicada al cepillado.</li>
        <li>Técnicas y herramientas para la eliminación del pelo de las zonas higiénicas.</li>
        <li>Técnicas y herramientas para la eliminación de pelo muerto, en función del tipo de pelo.</li>
       </ul>
    </div>
  </div>
  <div class="row">  
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(4)">Baño</p>
    </div>
    <div class="col-12" *ngIf="idProgram == 4">
      <ul>
        <li>Cosmetología aplicada según el manto a tratar.</li>
        <li>Mecanismos y medios técnicos de manipulación del animal en zona húmeda.</li>
        <li>Fases del proceso del baño.</li>
      </ul>
    </div>
  </div>
  <div class="row">  
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(5)">Secado</p>
    </div>
    <div class="col-12" *ngIf="idProgram == 5">
      <ul>
        <li>Herramientas, material de secado y utilización de las mismsa.</li>
        <li>Técnicas de secado genericas en función del tipo de pelo a trabajar.</li>
        <li>Técnicas de secado específicas para volumen o alisados.</li>
      </ul>
    </div>
  </div>
  <div class="row">  
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(6)">Primeros auxilios</p>
    </div>
    <div class="col-12" *ngIf="idProgram == 6">
      <ul>
        <li>Heridas superficiales de tejidos blandos.</li>
        <li>Cuerpos extraños.</li>
        <li>Quemaduras térmicas.</li>
        <li>Asepsia y desinfección como métodos de prevención de infecciones.</li>
        <li>Antisépticos locales tópicos.</li>
      </ul>
    </div>
  </div>
  <div class="row">  
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(7)">Corte de mantos mediante técnica de máquina</p>
    </div>
    <div class="col-12" *ngIf="idProgram == 7">
      <ul>
        <li>Estudio de la máquina, de las distintas cuchillas y recalces o acopladores.</li>
        <li>Manejo de la máquina de corte.</li>
        <li>Técnica para el corte básico o integral del manto a máquina.</li>
        <li>Técnica para el arreglo adaptado del manto a máquina.</li>
        <li>Técnica para el arreglo estandarizado a máquina.</li>
        </ul>
    </div>
  </div>
  <div class="row">  
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(8)">Corte de mantos mediante técnica a tijera </p>
    </div>
    <div class="col-12" *ngIf="idProgram == 8">
      <ul>
        <li>Anatomía de la tijera.</li>
        <li>Estudio de las diferentes tipos de tijera.</li>
        <li>Manejo de la tijera garantizando seguridad y eficacia.</li>
        <li>Técnica para el arreglo de finalización a tijera.</li>
        <li>Técnica para el arreglo básico a tijera.</li>
        <li>Técnica para el arreglo adaptado a tijera.</li>
        <li>Técnica para el arreglo estandarizado a tijera.</li>
       </ul>
    </div>
  </div>
  <div class="row">  
    <div class="col-12">
      <p class="program-title pink-background" (click)="openProgram(9)">Renovación de mantos mediante técnicas manuales</p>
    </div>
    <div class="col-12" *ngIf="idProgram == 9">
      <ul>
        <li>Técnica de renovación del manto.</li>
        <li>Materiales para renovación de los diferentes tipos de mantos.</li>
        <li>Técnica para la renovación del subpelo.</li>
        <li>Técnica para la renovación del pelo de cobertura.</li>
        </ul>
    </div>
  </div>
  </div>
</div>

  <div class="background-img"></div>
<div class="container-background" style="margin-top: 0px!important;">
<div class="container"  style="margin-top: 0px!important;">
  <div class="row">
    <div class="col-12">
      <p class="secondary-title">INFORMACIÓN Y PREGUNTAS FRECUENTES</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(1)">
        <p class="program-title">1. ¿Qué incluye el curso?</p><i *ngIf="id == undefined || id != 1" class="fas fa-chevron-down"></i><i *ngIf="id == 1" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 1">
      <ul>
        <li>Perros de práctica.</li>
        <li>Material y equipamiento proporcionado por la academia.</li>
        <li>Información didáctica.</li>
        <li>Carpeta de apuntes y bolígrafo.</li>
        <li>Set de fotografías de los trabajos realizados.</li>
        <li>Asesoramiento gratuito por 3 meses posterior a la finalización del curso.</li>
        <li>Diploma y certificado acreditativo de los estudios realizados.</li>
        <li>Posibilidad de alojamiento económico, en caso de que lo necesites.</li>
     </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(2)">
        <p class="program-title">2. ¿Qué ofrecemos?</p><i *ngIf="id == undefined || id != 2" class="fas fa-chevron-down"></i><i *ngIf="id == 2" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 2">
      <p>Prácticas desde el primer día con la metodología actualizada y progresiva para dar a conocer y practicar todas las técnicas necesarias para ejercer la profesión de peluquero y estilista canino.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(3)">
        <p class="program-title">3. ¿a quién va dirigido el curso?</p><i *ngIf="id == undefined || id != 3" class="fas fa-chevron-down"></i><i *ngIf="id == 3" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 3">
      <p>A todo tipo de personas que le agraden los animales y que quieran desarrollarse en el mundo de la peluquería canina. No necesitas experiencia, este curso va dirigido a personas que se inician en la peluquería canina. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(4)">
        <p class="program-title">4. ¿Entregáis título?</p><i *ngIf="id == undefined || id != 4" class="fas fa-chevron-down"></i><i *ngIf="id == 4" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 4">
      <p>Toda persona que sea graduada en Emilia Diaz Academy recibirá su título acreditado por nosotros e International Grooming Academy, ambas reconocidas a nivel mundial y capaces de abrirte muchas puertas en la vida laboral.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(5)">
        <p class="program-title">5. ¿Cómo serán los cursos?</p><i *ngIf="id == undefined || id != 5" class="fas fa-chevron-down"></i><i *ngIf="id == 5" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 5">
      <p>Los cursos están organizados para un aprendizaje personalizado con prácticas desde el primer día de clase.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(6)">
        <p class="program-title">6. ¿Cuántas horas tiene el curso de técnico superior profesional?</p><i *ngIf="id == undefined || id != 6" class="fas fa-chevron-down"></i><i *ngIf="id == 6" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 6">
      <p>El curso profesional consta de un total de 300 horas, dividido en 75 sesiones de 4 horas.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(7)">
        <p class="program-title">7. ¿Dónde se imparte el curso presencial?</p><i *ngIf="id == undefined || id != 7" class="fas fa-chevron-down"></i><i *ngIf="id == 7" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 7">
      <p>En nuestro centro base, ubicado en la localidad de Girona, España. A una hora de Barcelona. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(8)">
        <p class="program-title">8. ¿Disponen de bolsa de trabajo?</p><i *ngIf="id == undefined || id != 8" class="fas fa-chevron-down"></i><i *ngIf="id == 8" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 8">
      <p>Si, por nuestro prestigio como formadores, disponemos de oferta laboral real para nuestros alumnos.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(9)">
        <p class="program-title">9. ¿Cuándo empezar?</p><i *ngIf="id == undefined || id != 9" class="fas fa-chevron-down"></i><i *ngIf="id == 9" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 9">
      <p>El inicio del curso depende de tu organización y necesidades, tú decides cuando quieres empezar. Los horarios son  totalmente personalizados y flexibles.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(10)">
        <p class="program-title">10. ¿Cuál es el precio del curso? ¿Se puede financiar?</p><i *ngIf="id == undefined || id != 10" class="fas fa-chevron-down"></i><i *ngIf="id == 10" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 10">
      <p>El precio es de 1990€ IVA Incluido  y se puede financiar. Ponte en contacto con nosotros para definir la mejor opción para ti.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-chevron" (click)="openFaqs(11)">
        <p class="program-title">11. ¿Dónde puedo llamar y reservar?</p><i *ngIf="id == undefined || id != 11" class="fas fa-chevron-down"></i><i *ngIf="id == 11" class="fas fa-chevron-up"></i>
      </div>  
    </div>
    <div class="col-12" *ngIf="id == 11">
      <p>La compra se puede hacer por nuestra página web directamente y nosotros nos pondremos en contacto contigo para especificar fechas. Para dudas o visitas podéis contactar al <a href="tel:+34678700247">678700247</a> o al correo electrónico <a href="mailto:academy@emiliadiaz.com">academy@emiliadiaz.com</a></p>
    </div>
  </div>
  <map-contact></map-contact>
</div>
</div>
<social-network></social-network>
<footer></footer>