<navbar></navbar>
<div class="container" style="margin-top: 60px;margin-bottom: 60px;">
<div class="h4">Aviso legal</div>

<div class="row">
<p><strong>LSSICE</strong></p>
<p>ADAPTACIÓN A LA LEY 34/2002 DE SERVICIOS DE LA SOCIEDAD DE LA INFORMACIÓN Y COMERCIO ELECTRÓNICO (LSSICE).</p>
<p>Se recomienda la inclusión de un enlace a este Aviso Legal, en cada una de las páginas que componen el sitio web:</p>
<p> </p>
<p>En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE) a continuación se detallan los datos identificativos de la empresa:</p>
<p>Nombre empresa:</p>
<p>Razón social: EMILIA DIAZ JIMENEZ</p>
<p>NIF: 33920189L</p>
<p>Dirección: Plaça Miquel de Palol, 1 Bajos - 17005 - GIRONA - ESPAÑA</p>
<p>Teléfono: 972411296</p>
<p>Email: emiliadiaz@emiliadiaz.com</p>
<p> </p>
<p><strong>FINALIDAD DE LA PÁGINA WEB.</strong></p>
<p>EMILIA DIAZ JIMENEZ es la propietaria y administradora del sitio web de venta on‐line oficial www.emiliadiaz.com que ofrece la venta de los productos de EMILIA DIAZ JIMENEZ a usuarios o clientes no comerciantes y clientes comerciantes con registro.</p>
<p>El presente aviso legal (en adelante, el "Aviso Legal") regula el uso del sitio web: www.emiliadiaz.com</p>
<p> </p>
<p><strong>LEGISLACIÓN.</strong></p>
<p>Con carácter general las relaciones entre 33920189L con los Usuarios de sus servicios telemáticos, presentes en este sitio web, se encuentran sometidas a la legislación y jurisdicción españolas.</p>
<p> </p>
<p><strong>USO Y ACCESO DE USUARIOS.</strong></p>
<p>El Usuario queda informado, y acepta, que el acceso a la presente web no supone, en modo alguno, el inicio de una relación comercial con EMILIA DIAZ JIMENEZ o cualquiera de sus delegaciones.</p>
<p> </p>
<p><strong>PROPIEDAD INTELECTUAL E INDUSTRIAL.</strong></p>
<p>Los derechos de propiedad intelectual del contenido de las páginas web, su diseño gráfico y códigos son titularidad de EMILIA DIAZ JIMENEZ y, por tanto, queda prohibida su reproducción, distribución, comunicación pública, transformación o cualquier otra actividad que se pueda realizar con los contenidos de sus páginas web ni aun citando las fuentes, salvo consentimiento por escrito de EMILIA DIAZ JIMENEZ.</p>
<p> </p>
<p><strong>CONTENIDO DE LA WEB Y ENLACES (LINKS).</strong></p>
<p>EMILIA DIAZ JIMENEZ se reserva el derecho a actualizar, modificar o eliminar la información contenida en sus páginas web pudiendo incluso limitar o no permitir el acceso a dicha información a ciertos usuarios.</p>
<p>EMILIA DIAZ JIMENEZ no asume responsabilidad alguna por la información contenida en páginas web de terceros a las que se pueda acceder por "links" o enlaces desde cualquier página web propiedad de EMILIA DIAZ JIMENEZ. La presencia de "links" o enlaces en las páginas web de EMILIA DIAZ JIMENEZ tiene finalidad meramente informativa y en ningún caso supone sugerencia, invitación o recomendación sobre los mismos.</p>

</div>
<map-contact></map-contact>
</div>

<footer></footer>

