<navbar></navbar>
<div class="container" style="margin-top: 60px;margin-bottom: 60px;">
<div class="h4">Política de privacidad</div>

<div class="row">

<p>A través de este sitio web no se recaban datos de carácter personal de los usuarios sin su conocimiento, ni se ceden a terceros.</p>
<p>Para conocer nuestra política de cookies, utilizadas para recoger información de los usuarios, le agradecemos lea el apartado Política de cookies de nuestra página web.</p>
<p><strong><u>Información básica sobre protección de datos</u></strong></p>
<p>A continuación le informamos sobre la política de protección de datos de EMILIA DIAZ JIMENEZ</p>
<p> </p>
<p><strong>¿Quién es el Responsable del tratamiento?</strong></p>
<p>Los datos de carácter personal que se pudieran recabar directamente del interesado serán tratados de forma confidencial y quedarán incorporados a la correspondiente actividad de tratamiento titularidad de EMILIA DIAZ JIMENEZ</p>
<p> </p>
<p><strong>¿Cómo obtenemos sus datos personales?</strong></p>
<p>Recogemos sus datos personales en distintas ocasiones:</p>
<ul style="padding-left: 30px;">
<li>Cada vez que usted contacta directamente con nosotros, por ejemplo a través del apartado contacto o cualquier otro apartado en el que rellene un cuestionario de la web . o a través de las líneas de atención telefónica a clientes, para solicitar información sobre nuestros productos y servicios.</li>
<li>Cuando usted compra o contrata directamente con nosotros un producto o servicio.</li>
<li>Cuando usted participa en nuestras campañas de marketing directo, por ejemplo aceptando el envío de nuestro Newsletter o participando en alguna promoción a través de nuestras webs que requiere que usted complete un formulario on-line con sus datos personales.</li>
</ul>
<p>Los productos y servicios de EMILIA DIAZ JIMENEZ así como sus campañas promocionales, están dirigidos y pensados en su mayoría para adultos. En este sentido, solo recogeremos y trataremos sus datos personales si usted tiene, al menos, 16 años. Se reserva la posibilidad de realizar verificaciones de la edad de las personas que le facilitan datos personales. Cualquier dato de un menor de 16 años, será eliminado.</p>
<p>Le agradeceríamos que nos ayudase a mantener actualizados sus datos personales informándonos de cualquier cambio en sus datos de contacto o sus preferencias.</p>
<p> </p>
<p><strong>¿Qué información podemos obtener sobre usted?</strong></p>
<p>A través de los distintos servicios y canales de contacto descritos en esta Política de Privacidad, se pueden recabar los siguientes tipos de datos acerca de usted dependiendo de su relación con el Responsable dl Tratamiento:</p>
<p>Clientes y usuarios: Datos identificativos y de contacto: nombre, dirección, números de teléfono, correo electrónico. Datos económicos: nº de cuenta bancaria / nº de tarjeta de crédito.</p>
<p>Solicitantes: Datos identificativos y de contacto: nombre, dirección, números de teléfono, correo electrónico. Datos académicos y profesionales. Estudios cursados y titulaciones. Datos del empleo y de la Seguridad Social. Características personales: estado civil, fecha y lugar de nacimiento, edad, sexo, nacionalidad y porcentaje de minusvalía.</p>
<p> </p>
<p><strong>¿Con qué Finalidades tratamos sus datos personales?</strong></p>
<p>Por su condición de usuario de la web, trataremos los datos personales que nos proporcione con la finalidad de atender la consulta que nos haya efectuado y proporcionarle información comercial de productos y servicios de la empresa.</p>
<p>Por su condición de suscriptor de nuestro Newsletter, trataremos los daros personales que nos proporcione con la finalidad de enviarle nuestras comunicaciones comerciales puntualmente.</p>
<p>Por su condición de cliente trataremos sus datos para prestarle el servicio solicitado y la gestión administrativa y comercial de nuestra cartera de clientes. Trataremos sus datos para la gestión administrativa de la empresa, facturación y envío del producto adquirido.</p>
<p>Por su condición de Solicitante los datos proporcionados serán tratados únicamente para los procesos de selección de personal presentes o futuros realizados por la empresa.</p>
<p> </p>
<p><strong>¿Cuál es la Legitimación para el tratamiento de sus datos?</strong></p>
<p>Usuario y suscriptor: RGPD Artículo 6.1.a) consentimiento del interesado para el tratamiento de sus datos personales para uno o varios fines específicos.</p>
<p>Cliente: RGPD Artículo 6.1. b) el tratamiento es necesario para la ejecución de un contrato en el que el interesado es parte, o para la aplicación a petición de este de medidas precontractuales.. RGPD Artículo 6.1.a) consentimiento del interesado para el tratamiento de sus datos personales para uno o varios fines específicos</p>
<p>Empleados: RGPD Artículo 6.1.b) el tratamiento es necesario para la ejecución de un contrato en el que el interesado es parte. RGPD Artículo 6.1.c) el tratamiento es necesario para el cumplimiento de una obligación legal aplicable al responsable del tratamiento.</p>
<p>Solicitantes: RGPD Artículo 6.1.c) el tratamiento es necesario para el cumplimiento de una obligación legal aplicable al responsable del tratamiento.</p>
<p>Para las demás actividades de tratamiento que puedan no aparecer en esta política de privacidad, rogamos contacte con el Responsable del Tratamiento para pedir más información.</p>
<p> </p>
<p><strong>¿Durante cuánto tiempo conservaremos sus datos?</strong></p>
<p>Los datos personales proporcionados se conservarán durante el tiempo necesario para cumplir con la finalidad para la que se recaban y para determinar las posibles responsabilidades que se pudieran derivar de la finalidad, además de los períodos establecidos en la normativa de archivos y documentación.</p>
<p> </p>
<p><strong>¿A quién comunicaremos sus datos?</strong></p>
<p>Con carácter general no se comunicarán los datos personales a terceros, salvo obligación legal, entre las que pueden estar las comunicaciones a organizaciones directamente relacionadas con el responsable (Asesoría Fiscal, laboral y Contable. Entidades financieras. Agencia Estatal de Administración Tributaria. Empresas de formación. Entidad a quien se encomiende la gestión en materia de riesgos laborales. Instituto Nacional de la Seguridad Social. Tesorería General de la Seguridad Social. Organizaciones sindicales. Empresas encargadas de marketing y publicidad. Empresas de Selección de personal. Fuerzas y cuerpos de seguridad del Estado, órganos judiciales, Ministerio Fiscal.</p>
<p>Aunque en las transmisiones de datos a través de internet o desde una web no es posible garantizar una protección absoluta contra intrusiones, nos esforzamos al máximo en mantener las medidas de protección física, electrónica y procedimental necesarias para garantizar la protección de su información de acuerdo con las exigencias aplicables en materia de protección de datos.</p>
<p>Todos sus datos se guardan en servidores seguros (o copias físicas seguras) de nuestra propiedad o nuestros encargados del tratamiento, y para acceder a ellos y utilizarlos se aplican nuestros criterios y políticas de seguridad (u otras equivalentes de nuestros encargados de tratamiento).</p>
<p> </p>
<p><strong>¿Realizamos Transferencias internacionales de datos?</strong></p>
<p>EMILIA DIAZ JIMENEZ no tiene previstas las transferencias internacionales de datos.</p>
<p> </p>
<p><strong>¿Cómo mantenemos protegidos sus datos?</strong></p>
<p>Para garantizar la protección y mantener la seguridad, integridad y disponibilidad de sus datos, utilizamos diversas medidas de seguridad.</p>
<p>Aunque en las transmisiones de datos a través de internet o desde una web no es posible garantizar una protección absoluta contra intrusiones, tanto nosotros como nuestros encargados del tratamiento, dedicamos los máximos esfuerzos para mantener las medidas de protección física, electrónica y procedimental con las cuales garantizar la protección de sus datos de acuerdo con las exigencias legales aplicables en esta materia. Entre las medidas que utilizamos se incluyen las siguientes:</p>
<ul style="padding-left: 30px;">
<li>limitar el acceso a sus datos únicamente a aquellas personas que deban conocerlos en atención a las tareas que realizan;</li>
<li>como regla general transferir en formato cifrado los datos recogidos;</li>
<li>almacenar los datos más sensibles (como los datos bancarios) sólo en formato cifrado;</li>
<li>instalar sistemas de protección perimetral de las infraestructuras informáticas (firewalls) para impedir accesos no autorizados, por ejemplo hackers, y monitorizar habitualmente los accesos a los sistemas informáticos para detectar y detener cualquier uso indebido de los datos de carácter personal.</li>
</ul>
<p>En aquellos casos en que le hayamos facilitado (o usted haya elegido) una contraseña que le permita acceder a determinadas partes de nuestras webs o de cualquier otro portal, aplicación o servicio bajo nuestro control, es usted responsable de mantenerla en secreto y de cumplir todos los demás procedimientos de seguridad que le notifiquemos. No podrá compartir su contraseña con nadie.</p>
<p> </p>
<p><strong>¿Qué Derechos pueden ejercer los interesados?</strong></p>
<p>Cualquier persona tiene derecho a obtener confirmación sobre los tratamientos que de sus datos que se llevan a cabo por EMILIA DIAZ JIMENEZ</p>
<p>Puede ejercer sus derechos de acceso, rectificación, supresión y portabilidad de sus datos, de limitación y oposición a su tratamiento, así como a no ser objeto de decisiones basadas únicamente en el tratamiento automatizado de sus datos, y a retirar el consentimiento prestado, ante EMILIA DIAZ JIMENEZ. 33920189L. Plaça Miquel de Palol, 1 Bajos - 17005 - GIRONA - ESPAÑA. O bien dirigir un email a emiliadiaz@emiliadiaz.com, indicando en el asunto "Protección de datos".</p>
<p>Además, el interesado puede dirigirse a la Autoridad de Control en materia de Protección de Datos competente para obtener información adicional o presentar una reclamación.</p>
<p> </p>
<p><strong>Crear una Cuenta de cliente en EMILIA DIAZ JIMENEZ</strong></p>
<p>EMILIA DIAZ JIMENEZ le ofrece una cuenta personal de cliente online que le permitirá acceder a todas las aplicaciones sin necesidad de volver a inscribirse, y especialmente a páginas web y aplicaciones de</p>
<p>Su cuenta de cliente estará asignada a una identificación (ID) personal global que será válida para todas las aplicaciones. EMILIA DIAZ JIMENEZ conservará por separado todos los datos de su cuenta de cliente. Dichos datos no estarán sincronizados con otros datos suyos que ya tenga (aunque algunos de ellos pueden ser iguales). El tratamiento de sus datos se realizará de conformidad con el artículo 6, apartado 1, letra b) del RGPD.</p>
<p>Sus credenciales de acceso (dirección de correo electrónico/nombre de usuario y contraseña) le permiten, identificándose una sola vez, acceder a distintas aplicaciones ya que cada aplicación reenvía sus credenciales al servidor de inicio de sesión de ., donde son verificadas antes de autorizar el acceso. Una vez verificados los datos, el servidor autoriza el acceso de la aplicación a su información personal. De este modo, cada aplicación puede dirigirse a usted directamente por su nombre y mostrar su configuración personal, siempre que se haya guardado y la aplicación sea compatible con esa función.</p>
<p>Puede borrar en cualquier momento su cuenta de cliente en emiliadiaz@emiliadiaz.com. No obstante, debe tener en cuenta que eso afectará a toda la información vinculada a la cuenta. Su cuenta desaparecerá por completo y no podrá usarla para ninguna de las aplicaciones conectadas. Si está seguro de que desea eliminar su cuenta, acceda a ella y seleccione la opción Borrar cuenta en el menú para eliminarla. Si elimina su cuenta de cliente, sus datos personales se borrarán según el proceso interno fijado por . para el borrado de datos.</p>

</div>
</div>

<footer></footer>

