<navbar></navbar>

<div class="container">
  <div class="row carousel-main">
    Aquí va el carousel de fotos aleatorias
  </div>
  <div class="row">
    <div class="col-12 academy-main">
      <p>EMILIA DÍAZ ACADEMY</p>
      <img src="" alt="LOGO" srcset="">
      <p>más texto</p>
    </div>
  </div>
  <div class="row section-main">
    <p>Esto tiene que ser una tabla por cada sección</p>
    <div class="col-3 col-xs-12">
      <p>Academia</p>
      <button><a href="/academy">descubre más</a></button>
    </div>
    <div class="col-3 col-xs-12">
      <p>Cursos</p>
      <button><a href="/courses">descubre más</a></button>
    </div>
    <div class="col-3 col-xs-12">
      <p>Servicios</p>
      <button><a href="/services">descubre más</a></button>
    </div>
    <div class="col-3 col-xs-12">
      <p>Plataforma</p>
      <button><a href="#">Descubre más</a></button>
    </div>
  </div>
  <div class="row motto-section">
    <div class="col-8 col-xs-12">
      <p>
        La peluquería canina ha sido mi pasión desde hace más de 30 años, consiguiendo grandes logros a nivel competitivo al igual que juzgando las mejores competiciones del mundo. Gracias a todo este conocimiento y experiencia he conseguido transmitir a más de 12.000 personas durante toda mi carrera el arte del estilismo canino, ayudándoles a conseguir su sueño: 
      </p>
      <p>
        Vivir de la peluquería canina.
      </p>
    </div>
    <div class="col-4 col-xs-12">
      
    </div>
  </div>
  <div class="row comment-main">
    <div class="col-12">
      <p>OPINIONES DE ALUMNOS / CAROUSEL</p>
    </div>
  </div>
  <div class="row sponsors-main">
    LOGOS DE PATROCINADORES / POSIBLE LINK A SUS WEBS
  </div>
  <div class="row contact-main">
    <div class="col-6 col-xs-12">
      ÁREA DE CONTACTO
    </div>
    <div class="col-6 col-xs-12">
      MAPA DE GEOLOCALIZACIÓN
    </div>
  </div>
</div>

<footer></footer>
