<navbar></navbar>

<div class="row">
  <div class="col-8 col-xs-12">
    <p>
      La peluquería canina ha sido mi pasión desde hace más de 30 años, consiguiendo grandes logros a nivel competitivo al igual que juzgando las mejores competiciones del mundo. Gracias a todo este conocimiento y experiencia he conseguido transmitir a más de 12.000 personas durante toda mi carrera el arte del estilismo canino, ayudándoles a conseguir su sueño: 
    </p>
    <p>
      Vivir de la peluquería canina.
    </p>
  </div>
  <div class="col-4 col-xs-12">
    IMÁGEN
  </div>
</div>

<footer></footer>
