<navbar></navbar>

<div class="container">
  <div class="row carousel-main">
    Aquí va el carousel de fotos aleatorias
  </div>
  <div class="row margin-bottom">
    <div class="col-12 academy-main" data-aos="fade-left" data-aos-duration="2000">
      <img src="/assets/images/logo-academy.jpg" alt="LOGO" srcset="" width="500px" height="170px" class="margin-bottom">
    </div>
    <div class="col-12 academy-main" data-aos="fade-right" data-aos-duration="3000">
      <p>Durante todo el periodo del curso, dejarás de ser un aprendiz de peluquería canina, para convertirte en un profesional del sector y todo lo que esto engloba.
      Emilia Díaz Academy, te ayudará a comprender de primera mano la importancia de trabajar con un manual operativo y con un método claro y práctico de aprendizaje.</p>
      <p><b>“El programa de formación de peluqueros más real del mercado”</b></p>
    </div>
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="4000">
    <div class="card-group">
      <div class="card col-3 col-xs-12">
        <div class="card-body">
          <h5 class="card-title">Academia</h5>
          <p class="card-text">Espacio de 160m2 con áreas singulares creadas y equipadas para ti, para que vivas una experiencia única y enriquecedora</p>
          
        </div>
        <div class="card-footer">
          <a class="btn btn-primary center-button" href="/academy">Descubre más</a>
        </div>
      </div>

      <div class="card col-3 col-xs-12">
        <div class="card-body">
          <h5 class="card-title">Cursos</h5>
          <p class="card-text">Cursos 100% prácticos, adaptados a tu nivel y necesidades. Disponemos del mejor espacio y los mejores materiales para tu formación.</p>
          
        </div>
        <div class="card-footer">
          <a class="btn btn-primary center-button" href="/courses">Descubre más</a>
        </div>
      </div>

      <div class="card col-3 col-xs-12">
        <div class="card-body">
          <h5 class="card-title">Servicios</h5>
          <p class="card-text">Disponemos de los mejores servicios para tu mascota. Te ofrecemos momentos de cuidado sin estrés, utilizando los mejores productos del mercado.</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary center-button" href="/services">Descubre más</a>
        </div>
      </div>

      <div class="card col-3 col-xs-12">
        <div class="card-body">
          <h5 class="card-title">International Grooming Academy</h5>
          <p class="card-text">Descubre la mejor formación on line, que conseguirá sacar tu máximo potencial desde donde tú quieras. Apta para todos los niveles.</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary center-button" href="/iga">Descubre más</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row motto-section" data-aos="fade-right" data-aos-duration="4000">
    <div class="col-8 col-xs-12">
      <p>
        La peluquería canina ha sido mi pasión desde hace más de 30 años, consiguiendo grandes logros a nivel competitivo al igual que juzgando las mejores competiciones del mundo. Gracias a todo este conocimiento y experiencia he conseguido transmitir a más de 12.000 personas durante toda mi carrera el arte del estilismo canino, ayudándoles a conseguir su sueño: 
      </p>
      <p>
        Vivir de la peluquería canina.
      </p>
    </div>
    <div class="col-4 col-xs-12">
      
    </div>
  </div>
  <div class="row comment-main">
    <div class="col-12">
      <p>OPINIONES DE ALUMNOS / CAROUSEL</p>
    </div>
  </div>
  <div class="row sponsors-main">
    LOGOS DE PATROCINADORES / POSIBLE LINK A SUS WEBS
  </div>
  <div class="row contact-main">
    <div class="col-6 col-xs-12">
      ÁREA DE CONTACTO
    </div>
    <div class="col-6 col-xs-12">
      MAPA DE GEOLOCALIZACIÓN
    </div>
  </div>
</div>

<footer></footer>


