.carousel-main {
    height: 100%;
    width: 100%;
}

.academy-main{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.section-main {
    height: 200px;
    text-align: center;
}

.comment-main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sponsors-main {
    height: 30px;
}

.contact-main {
    height: 200px;
}

.motto-section{
    margin-top: 50px;
    // margin-bottom: 50px;
    height: 540px;
    text-align: center;

    .left {
        text-align: center;
        margin-top: 180px;
        font-size: 20px;
    }

    .left-down {
        font-weight: 700;
        font-size: 33px;
    }
}



.margin-bottom {
    margin-bottom: 30px;
    margin-top: 30px;
}

.center-button {
    display: flex;
    justify-content: center;
}



.btn-primary {
    color: white;
    background: #C00042;
    border-color: white;
    width: 40%;
    margin: auto;
}

.btn-check:focus, .btn:focus {
    box-shadow: none !important;
}

.carousel-img {
    display: block;
    margin: auto;
    width: -webkit-fill-available;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: -99;
    transition: transform 5s ease-in-out;
}

.container-background {
    background-color: white;
    z-index: 99;
}

.transition {
    transform: scale(1.3);
}

.background-img {
    background-image: url('/assets/images/bolas.jpg');
  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-down {
    margin-top: 20px;
    font-weight: 700;
    font-size: 33px;
}

.back-academy {
    background-image: url("/assets/images/Academia.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    background-size: 500px;
}

.back-academy:hover{ 
    position: relative; 
    top: -20px;
} 

.back-cursos {
    background-image: url("/assets/images/cursos.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    background-size: 500px;
}

.back-cursos:hover{ 
    position: relative; 
    top: -20px;
} 

.back-online {
    background-image: url("/assets/images/Online.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    background-size: 500px;
    filter: grayscale(1);
}

.back-online:hover{ 
    position: relative; 
    top: -20px;
} 

.back-servicios {
    background-image: url("/assets/images/Servicios.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    background-size: 500px;
}

.back-servicios:hover{ 
    position: relative; 
    top: -20px;
} 


.text {
    position: relative;
    top: 300px;
    background-color: lightgrey;
    padding: 10px;
    opacity: 0.8;
    color: black;
    height: 180px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.iframe-reviews {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 150px;
    width: 250px;
    -webkit-box-shadow: 0px 15px 14px 1px rgba(0,0,0,0.76); 
    box-shadow: 0px 15px 14px 1px rgba(0,0,0,0.76);
    pointer-events: none;
    filter: grayscale(1);
}

.iframe-active {
    display: block;
    margin: auto;
    height: 200px;
    width: 360px;
    margin-top: 0px;
    pointer-events: all;
    filter: grayscale(0);
    z-index: 99;

}

.icon {
    margin-top: 50px;
    font-size: 30px;
    display: block;
    cursor: pointer;
}

.icon-left {
    margin-left: 50px;
}


