.carousel-main {
    height: 100%;
    width: 100%;
}

.academy-main{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.section-main {
    height: 200px;
    text-align: center;
}

.comment-main {
    height: 200px;
}

.sponsors-main {
    height: 30px;
}

.contact-main {
    height: 200px;
}

.motto-section{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 410px;
    text-align: center;

    .left {
        text-align: center;
        margin-top: 120px;
        font-size: 21px;
    }

    .left-down {
        font-weight: 700;
        font-size: 30px;
    }
}

.card-footer{
    background-color: white;
}

.margin-bottom {
    margin-bottom: 30px;
}

.center-button {
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ccccff;
    border-radius: .25rem;
    width: 100%;
}

.btn-primary {
    color: white;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,153,255,1) 0%, rgba(255,204,255,1) 100%);
    border-color: white;
    width: 60%;
    margin: auto;
}

.btn-check:focus, .btn:focus {
    box-shadow: none !important;
}

.carousel-img {
    display: block;
    margin: auto;
    width: -webkit-fill-available;
    height: 700px;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: -99;
}

.container-background {
    background-color: white;
    z-index: 99;
    margin-top: 700px;
}