<ul style="right: 0;position: fixed;top: 53%;transform: translateY(-50%);-webkit-transform: translateY(-50%);z-index: 99999;list-style: none;">
    <li style="margin-bottom: 2px;outline: 0;position: relative;">            
        <a href="https://www.facebook.com/emiliadiazacademy" target="_blank" rel="noopener noreferrer">    
            <img class="facebook" src="/assets/images/siguenos_facebook.jpg" alt="" srcset="" width="65" height="65">
        </a>
    </li>
</ul>
<ul style="right: 0;position: fixed;top: 46%;transform: translateY(-50%);-webkit-transform: translateY(-50%);z-index: 99999;list-style: none;">
    <li style="margin-bottom: 2px;outline: 0;position: relative;">
        <a href="https://www.instagram.com/emiliadiazacademy/" target="_blank" rel="noopener noreferrer"> 
            <img class="instagram"  src="/assets/images/instagram.jpg" alt="" srcset="" width="65" height="65">
        </a>
    </li>
</ul>
