<ul style="right: 0;position: fixed;top: 52%;transform: translateY(-50%);-webkit-transform: translateY(-50%);z-index: 99999;list-style: none;">
    <li style="margin-bottom: 2px;outline: 0;position: relative;">            
        <a href="https://www.facebook.com/emiliadiazacademy" target="_blank" rel="noopener noreferrer">    
            <i class="fab fa-facebook-square facebook"></i>
        </a>
    </li>
</ul>
<ul style="right: 0;position: fixed;top: 48%;transform: translateY(-50%);-webkit-transform: translateY(-50%);z-index: 99999;list-style: none;">
    <li style="margin-bottom: 2px;outline: 0;position: relative;">
        <a href="https://www.instagram.com/emiliadiazacademy/" target="_blank" rel="noopener noreferrer"> 
            <i class="fab fa-instagram-square instagram"></i>
        </a>
    </li>
</ul>
