<navbar></navbar>

<div class="container">
    <div class="row">
        <p>video</p>
    </div>
    <div class="row">
        <div class="col-12">
            <p>“El programa de formación que te acercará más que nunca a la vida laboral real”</p>
        </div>
    </div>
    <div class="row">
        <div class="card-group">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">CURSO TÉCNICO SUPERIOR</h5>
                <p class="card-text">“El curso que te dejará preparado para la inserción laboral”</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/courses/superior-technician">descubre más</a>
            </div>
            </div>

            <div class="card">
            <div class="card-body">
                <h5 class="card-title">CURSO TÉCNICO AVANZADO</h5>
                <p class="card-text">“Amplia tus conocimientos y mejora tus técnicas de trabajo”</p>
                
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/courses/advanced-technician">descubre más</a>
            </div>
            </div>

            <div class="card">
            <div class="card-body">
                <h5 class="card-title">ESPECIALIZACIÓN DE RAZA O TÉCNICA</h5>
                <p class="card-text">“Profundiza y perfecciona el arreglo de una raza determinada o una técnica específica”</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/courses/technical-specialization">descubre más</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>El éxito de nuestros cursos se basa en 3 importantes fundamentos</p> 
            <p>los cuales nos han posicionado como una de las mejores escuelas de peluquería canina de España
            <p>1.Programas de formación</p>
            <p>Emilia Diaz, directora de Canine Grooming Academy ha creado un método de aprendizaje directo, práctico, interactivo y aplicable a cualquier nivel de conocimiento</p>
            <p>2. Enseñanza personalizada</p>
            <p>Ninguno de nuestros cursos supera los 4 alumnos por grupo, lo cual permite una enseñanza personalizada y muy cercana</p>
            <p>3. Espacio de trabajo</p>
            <p>Peluquería real, para un concepto de formación real. Todas nuestras instalaciones y espacios, están pensados al detalle, para que aproveches tus cursos al máximo</p>
        </div>
    </div>
</div>

<footer></footer>

