.card-footer{
    background-color: white;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ccccff;
    border-radius: .25rem;
}

.btn-primary {
    color: white;
    background: #C00042;
    border-color: white;
    width: 40%;
    margin: auto;
}

.center-button {
    display: flex;
    justify-content: center;
}

.btn-check:focus, .btn:focus {
    box-shadow: none !important;
}

.back-tech-superior {
    background-image: url("/assets/images/b335e311-58ed-4b05-b740-3635f61aa3f3.JPG");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
}