<navbar></navbar>


    
            
<iframe class="iframe" src="https://www.youtube.com/embed/OlzvtebNANk?fs=0&controls=0&autoplay=1&start=1&rel=0&showinfo=1?modestbranding=0" title="Cursos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; s" allowfullscreen></iframe>
    
    <div class="container-background">

    
    <div class="container">
    <div class="row" data-aos="fade-right" data-aos-duration="4000">
        <div class="col-12">
            <p style="text-align: center;font-weight: 700;font-size: 30px;margin-top: 55px;">“El programa de formación que te acercará más que nunca a la vida laboral real”</p>
        </div>
    </div>
    

    <div class="row" style="margin-bottom: 50px;margin-top: 50px;" data-aos="fade-left" data-aos-duration="4000">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="back-tech-superior">
                    <div class="text">

                    <h5 class="card-title">CURSO TÉCNICO SUPERIOR</h5>
                    <p class="card-text">“El curso que te dejará preparado para la inserción laboral”</p>
    
                    <a class="btn btn-primary center-button" href="/courses/superior-technician">Descubre más</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="back-tech-advance">

                    <div class="text">
                        <h5 class="card-title">CURSO TÉCNICO AVANZADO</h5>
                    <p class="card-text">“Amplia tus conocimientos y mejora tus técnicas de trabajo”</p>
                    
    
                    <a class="btn btn-primary center-button" href="/courses/advanced-technician">Descubre más</a>
                    </div>
                </div>
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="back-speciality">
                    <div class="text">
                          <h5 class="card-title">ESPECIALIZACIÓN DE RAZA O TÉCNICA</h5>
                    <p class="card-text">“Profundiza y perfecciona el arreglo de una raza determinada o una técnica específica”</p>
    
                    <a class="btn btn-primary center-button" href="/courses/technical-specialization">Descubre más</a>
                    </div>
                </div>
              
            </div>


        
    </div>
    <div class="row" style="margin-bottom: 50px;text-align: center;" data-aos="fade-up" data-aos-duration="4000">
        
        <div class="col-12" style="    margin-bottom: 60px;">
            <p style="font-size: 26px;">El éxito de nuestros cursos se basa en 3 importantes fundamentos</p><p> los cuales nos han posicionado como una de las mejores escuelas de peluquería canina de España
        </div> 
        <div class="col-xs-12 col-sm-4" style="padding: 45px; height:600px">

            <p><b>1.Programas de formación</b></p>
            <p style="padding-left: 15px;">Emilia Diaz, directora de Canine Grooming Academy ha creado un método de aprendizaje directo, práctico, interactivo y aplicable a cualquier nivel de conocimiento</p>
        </div>
        <div class="col-xs-12 col-sm-4" style="padding: 45px; height:600px">
            <p style="margin-top: 400px;"><b>2. Enseñanza personalizada</b></p>
            <p style="padding-left: 15px;">Ninguno de nuestros cursos supera los 4 alumnos por grupo, lo cual permite una enseñanza personalizada y muy cercana</p>

        </div>
        <div class="col-xs-12 col-sm-4" style="padding: 45px; height:600px">
            <p><b>3. Espacio de trabajo</b></p>
            <p style="padding-left: 15px;">Peluquería real, para un concepto de formación real. Todas nuestras instalaciones y espacios, están pensados al detalle, para que aproveches tus cursos al máximo</p>

        </div>   
        
    </div>

    <map-contact style="z-index:99;"></map-contact>
</div>
</div>
<social-network></social-network>
<footer style="z-index:99;"></footer>

