<navbar></navbar>

<div class="container">
    <div class="row separator">
        <div class="col-12">
            <p>En los últimos años, Emilia Diaz Academy ha sido reconocida por profesionales importantes  del sector como uno de los centros formativos más prestigiosos de Europa. Es por ello que hemos decidido innovar  y crear la International Grooming Academy.</p>
            <p>La IGA es un grupo selecto de centros concertados  especializados  en formación de peluquería canina,  rompiendo fronteras  y acercando la metodología de Emilia Diaz alrededor del mundo.</p>
            <p>Cada uno de estos profesores han sido formados previamente bajo la metodología de Emilia Diaz, para conseguir que cada detalle que puedas apreciar en Emilia Diaz Academy, también lo puedas  obtener  en cualquiera de los centros concertados. International Grooming Academy  poco a poco acerca la formación de máxima calidad a todos los países del mundo hispanoparlantes,.</p>
            <p>Si tu eres uno de esos alumnos exigentes que  quieres aprender bajo las  últimas actualizaciones del sector canino, cualquiera de nuestros centros concertados será tu mejor opción.</p>
            <p>¡Busca tu academia más cercana!</p>
        </div>
    </div>
    <div class="row separator">
        <div class="col-4">FOTO</div>
        <div class="col-8">Daffne VIgott
            Nombre: Daffne Vigott Pet Grooming Academy
            Dirección: Calle 16, Provincia de Cartago, Cartago, Costa Rica
            Telf.: (+506) 8342 9701
            E-mail: info@vanidososcr.com
            Web: https://vanidososcr.com/
            FB: https://www.facebook.com/vanidososcr/
            IG: https://www.instagram.com/vanidosos_cr/</div>
        <div class="col-4">FOTO</div>
        <div class="col-8">EXTRA INFO</div>
    </div>
    <div class="row separator">
        <div class="col-4">FOTO</div>
        <div class="col-8">Nombre: Rodrigo Benavides Academia Canina
            Dirección: Jorge Ross Ossa 1254, Puente Alto, Santiago de Chile, Chile
            Telf.: +569 77642646
            E-mail: contacto@academiarb.cl
            Web: https://academiarb.cl
            FB: https://www.facebook.com/academia.caninarb/
            IG: https://www.instagram.com/academia.rb/</div>
        <div class="col-4">FOTO</div>
        <div class="col-8">EXTRA INFO</div>
    </div>
    <div class="row separator">
        <div class="col-4">FOTO</div>
        <div class="col-8">NOMBRE; JORGE JOSE PROFESSIONAL GROOMING ACADEMY MX
            DIRECCIÓN; CALZADA CUAUHTEMOC #986 COLONIA PROHOGAR ENTRE RIO CULIACAN Y RIO SAN LORENZO
            TELÉFONO; +526865671802 - +526862718178
            EMAIL; jorgejose.academygroomx@gmail.com
            WEB;
            FACEBOOK; https://www.facebook.com/jorgejoseacademy/
            INSTAGRAM;</div>
        <div class="col-4">FOTO</div>
        <div class="col-8">EXTRA INFO</div>
    </div>
    <div class="row separator">
        <div class="col-4">FOTO</div>
        <div class="col-8">Nombre: Nelfly Estilistes
            Dirección: Avinguda d'Artesa, 31, 25001 Lleida
            Telf.: +34 654136117
            E-mail: nelflyestilistes@gmail.com
            Web:
            FB: https://www.facebook.com/nelflyestilistes
            IG: https://www.instagram.com/nelfly_estilistes</div>
        <div class="col-4">FOTO</div>
        <div class="col-8">EXTRA INFO</div>
    </div>
    <div class="row separator">
        <div class="col-4">FOTO</div>
        <div class="col-8">Nombre: Salón Canino Lorena Bedlington
            Dirección: Avenida de Schultz 198, Gijón 33210, Asturias
            Telf.: +34 984294892
            E-mail: lbgijon@icloud.com
            Web: https://peluqueriacaninalorenabedlington.negocio.site/
            FB: https://www.facebook.com/lorenabedlington
            IG: https://www.instagram.com/lorenabedlington</div>
        <div class="col-4">FOTO</div>
        <div class="col-8">EXTRA INFO</div>
    </div>
    <div class="row separator">
        <div class="col-4">FOTO</div>
        <div class="col-8">Nombre: Eliane Queiroz estilista canina
            Dirección: Carrer de Lluçà 42-46 08028 Barcelona, España
            Telf.: +34 673789008
            E-mail: elianequeirozedbarcelona@gmail.com
            Web: https://eliane-queiroz-estilista-canina.negocio.site/
            FB: https://www.facebook.com/Elianepelucanina
            IG: https://wwwinstagram.com/elianepelucanina/
            </div>
        <div class="col-4">FOTO</div>
        <div class="col-8">EXTRA INFO</div>
    </div>
    <div class="row separator">
        <div class="col-4">FOTO</div>
        <div class="col-8">Nom: Cococan Peluquería Canina
            Direcció: Calle pintor Juan esteban n41 Ubeda 23400 Jaén
            Telf.: +34 656475284 
            E-mail: loritegarrido@gmail.com
            Web: -----
            FB: https://www.facebook.com/cococan.peluqueriacanina
            IG: https://www.instagram.com/cococanpeluqueria/</div>
        <div class="col-4">FOTO</div>
        <div class="col-8">EXTRA INFO</div>
    </div>
</div>

<footer></footer>