<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="/assets/images/IGA blanc vertical retallat.jpg" alt="" srcset="" class="iga-img">
        </div>
    </div>
    <div class="row separator">
        <div class="col-12" data-aos="fade-down" data-aos-duration="4000" style="text-align: center;margin-top: 30px;margin-bottom: 30px;font-size: 17px;">
            <p>En los últimos años, Emilia Diaz Academy ha sido reconocida por profesionales importantes  del sector como uno de los centros formativos más prestigiosos de Europa. Es por ello que hemos decidido innovar  y crear la International Grooming Academy.</p>
            <p>La IGA es un grupo selecto de centros concertados  especializados  en formación de peluquería canina,  rompiendo fronteras  y acercando la metodología de Emilia Diaz alrededor del mundo.</p>
            <p>Cada uno de estos profesores han sido formados previamente bajo la metodología de Emilia Diaz, para conseguir que cada detalle que puedas apreciar en Emilia Diaz Academy, también lo puedas  obtener  en cualquiera de los centros concertados. International Grooming Academy  poco a poco acerca la formación de máxima calidad a todos los países del mundo hispanoparlantes,.</p>
            <p>Si tu eres uno de esos alumnos exigentes que  quieres aprender bajo las  últimas actualizaciones del sector canino, cualquiera de nuestros centros concertados será tu mejor opción.</p>
            <p style="font-weight: 700; font-size: 25px;">¡Busca tu academia más cercana!</p>
        </div>
    </div>
    

        <div class="row separator"  data-aos="fade-right" data-aos-duration="4000">
            <div class="col-4 col-xs-12">
                <img src="/assets/images/DAFFNE.jpg" alt="" srcset="" width="340">
            </div>
            <div class="col-8 col-xs-12" style="margin-top: 35px;">
                
                <p style="padding-left: 35px;"><b>Daffne Vigott Pet Grooming Academy</b> </p>
                <p>Dirección: Calle 16, Provincia de Cartago, Cartago, Costa Rica</p>
                <p>Teléfono: (+506) 8342 9701</p>
                <p>E-mail: <a href="mailto:info@vanidososcr.com">info@vanidososcr.com</a></p>
                <p>Web: <a href=" https://vanidososcr.com/" target="_blank" rel="noopener noreferrer">vanidososcr.com</a></p>
                <p>Facebook: <a href=" https://www.facebook.com/vanidososcr/" target="_blank" rel="noopener noreferrer">vanidososcr</a></p>
                <p>Instagram: <a href="https://www.instagram.com/vanidosos_cr/" target="_blank" rel="noopener noreferrer">vanidosos_cr</a> </p>
            </div>
            
        </div>
        <div class="row separator"  data-aos="fade-left" data-aos-duration="4000">
            
            <div class="col-8"  style="text-align: end;">
                <p> Rodrigo Benavides Academia Canina</p>
                <p>Dirección: Jorge Ross Ossa 1254, Puente Alto, Santiago de Chile, Chile</p>
                <p>Telf.: +569 77642646</p>
                <p>E-mail: contacto@academiarb.cl</p>
                <p>Web: https://academiarb.cl</p>
                <p>FB: https://www.facebook.com/academia.caninarb/</p>
                <p>IG: https://www.instagram.com/academia.rb/</p>
            </div>
            <div class="col-4">
                <img src="/assets/images/RODRIGO.jpg" alt="" srcset="" width="340">
            </div>
            
        </div>
        <div class="row separator"  data-aos="fade-right" data-aos-duration="4000">
            <div class="col-4">
                <img src="/assets/images/JORGE.jpg" alt="" srcset="" width="340">
            </div>
            <div class="col-8">
                <p>NOMBRE; JORGE JOSE PROFESSIONAL GROOMING ACADEMY MX</p>
                <p>DIRECCIÓN; CALZADA CUAUHTEMOC #986 COLONIA PROHOGAR ENTRE RIO CULIACAN Y RIO SAN LORENZO</p>
                <p>TELÉFONO; +526865671802 - +526862718178</p>
                <p>EMAIL; jorgejose.academygroomx@gmail.com</p>
                <p>FACEBOOK; https://www.facebook.com/jorgejoseacademy/</p>
            </div>
            
        </div>
        <div class="row separator"  data-aos="fade-left" data-aos-duration="4000">
            <div class="col-8"  style="text-align: end;">
                <p>Nombre: Nelfly Estilistes</p>
                <p>Dirección: Avinguda d'Artesa, 31, 25001 Lleida</p>
                <p>Telf.: +34 654136117</p>
                <p>E-mail: nelflyestilistes@gmail.com</p>
                <p>FB: https://www.facebook.com/nelflyestilistes</p>
                <p>IG: https://www.instagram.com/nelfly_estilistes</p>
            </div>
            <div class="col-4">
                <img src="/assets/images/LAURA.jpg" alt="" srcset="" width="340">
            </div>
            
        </div>
        <div class="row separator">
            <div class="col-8">
                Nombre: Salón Canino Lorena Bedlington
                Dirección: Avenida de Schultz 198, Gijón 33210, Asturias
                Telf.: +34 984294892
                E-mail: lbgijon@icloud.com
                Web: https://peluqueriacaninalorenabedlington.negocio.site/
                FB: https://www.facebook.com/lorenabedlington
                IG: https://www.instagram.com/lorenabedlington
            </div>
            <div class="col-4">FOTO</div>
            
        </div>
        <div class="row separator">
            <div class="col-4">FOTO</div>
            <div class="col-8">Nombre: Eliane Queiroz estilista canina
                Dirección: Carrer de Lluçà 42-46 08028 Barcelona, España
                Telf.: +34 673789008
                E-mail: elianequeirozedbarcelona@gmail.com
                Web: https://eliane-queiroz-estilista-canina.negocio.site/
                FB: https://www.facebook.com/Elianepelucanina
                IG: https://wwwinstagram.com/elianepelucanina/
                </div>
            <div class="col-4">FOTO</div>
            
        </div>
        <div class="row separator">
            <div class="col-4">FOTO</div>
            <div class="col-8">Nom: Cococan Peluquería Canina
                Direcció: Calle pintor Juan esteban n41 Ubeda 23400 Jaén
                Telf.: +34 656475284 
                E-mail: loritegarrido@gmail.com
                Web: -----
                FB: https://www.facebook.com/cococan.peluqueriacanina
                IG: https://www.instagram.com/cococanpeluqueria/</div>
            <div class="col-4">FOTO</div>
            
        </div>
    
</div>

<footer></footer>