.separator {
    margin: 30px;
    margin-top: 60px;
}

.iga-img {
    width: 300px;
    margin: auto;
    display: block;
    margin-top: 30px;
}

.img-people {
    width: -webkit-fill-available;
}

.grey {
    background-color: #EFEFEFEF;
    // padding: 20px;
}

.container {
    margin-top: 115px;
}

a {
    color: #C00042;
}

.padding-texts {
    padding: 100px;
}